<!DOCTYPE html>
<html>
  



<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Accordion | Apollo UI</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="./css/apollo.css">
  <!-- Stylesheet for DRB site menu -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="./css/docs.css">
</head>

  <body>
    <main class="docs">
  <aside class="docs-sidebar">
  <div class="docs-apollo-sidebar">
    <button class="docs-drb-menu-toggle panel-open">
      <span class="icon icon-menu"></span>
    </button>
    <h6 class="docs-sidebar-title">IMS Design Resource Base</h6>
  </div>
  <div class="docs-nav">
    





<h5 class="docs-page-nav-title">Scaffolding</h5>
<ul class="docs-page-nav" role="navigation">
  
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./">Getting started</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./grid.html">Grid layout</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./colors.html">Color palette</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./typography.html">Typography</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./icons.html">Icons</a>
    </li>
  
</ul>

<h5 class="docs-page-nav-title">Components</h5>
<ul class="docs-page-nav" role="navigation">
  
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./buttons.html">Buttons</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./forms.html">Forms</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./search.html">Search</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./login.html">Login</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./tables.html">Tables</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./dropdown.html">Dropdown</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./billboard.html">Billboard</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./alerts.html">Alerts</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./cards.html">Cards</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./tabs.html">Tabs</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./navbar.html">Navbar</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./off-canvas.html">Off-canvas panel</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./breadcrumb.html">Breadcrumb</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./pager.html">Pagination</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./loading.html">Loading animation</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./modal.html">Modals</a>
    </li>
  
    
    
    <li class="docs-page-nav-item active">
      <a href="./accordion.html">Accordion</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./carousel.html">Carousel</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./slider.html">Slider</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./empty-space.html">Empty space prompt</a>
    </li>
  
</ul>



  </div>
</aside>
  <article class="docs-content">
    <header class="docs-page-header">
  <h1 class="docs-page-title">Accordion</h1>
</header>

    <section class="docs-section">


<h6 class="docs-example-label">Light background</h6>

<div class="docs-example docs-example-third ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
<div class="accordion" role="tablist" aria-multiselectable="true">
  <div class="accordion-header" id="accordion-head-1" role="tab" data-toggle="collapse" data-target="#accordion-sect-1" aria-expanded="true" aria-controls="accordion-sect-1">
    <h3 class="accordion-title">Section 1</h3>
  </div>
  <div class="accordion-block collapse in" id="accordion-sect-1" role="tabpanel" aria-labeledby="accordion-head-1">
    <p>Tacos selvage bushwick, craft beer bitters small batch keffiyeh deep v. Kale chips actually listicle neutra, squid occupy brooklyn raw denim tacos lumberjack cardigan.</p>
  </div>
  <div class="accordion-header" id="accordion-head-2" role="tab" data-toggle="collapse" data-target="#accordion-sect-2" aria-expanded="false" aria-controls="accordion-sect-2">
    <h3 class="accordion-title collapsed">Section 2</h3>
  </div>
  <div class="accordion-block collapse" id="accordion-sect-2" role="tabpanel" aria-labeledby="accordion-head-2">
    <p>Crucifix kale chips mumblecore ramps keffiyeh authentic. Plaid schlitz vinyl, yr chartreuse shoreditch chambray occupy mlkshk narwhal try-hard letterpress williamsburg church-key cardigan.</p>
  </div>
  <div class="accordion-header" id="accordion-head-3" role="tab" data-toggle="collapse" data-target="#accordion-sect-3" aria-expanded="false" aria-controls="accordion-sect-3">
    <h3 class="accordion-title collapsed">Section 3</h3>
  </div>
  <div class="accordion-block collapse" id="accordion-sect-3" role="tabpanel" aria-labeledby="accordion-head-3">
    <p>Occupy leggings offal, craft beer austin tumblr retro plaid hashtag umami kombucha mustache. Raw denim gochujang portland brooklyn, butcher fixie whatever pinterest vegan organic intelligentsia VHS.</p>
  </div>
</div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion"</span> <span class="na">role=</span><span class="s">"tablist"</span> <span class="na">aria-multiselectable=</span><span class="s">"true"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-header"</span> <span class="na">id=</span><span class="s">"accordion-head-1"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"collapse"</span> <span class="na">data-target=</span><span class="s">"#accordion-sect-1"</span> <span class="na">aria-expanded=</span><span class="s">"true"</span> <span class="na">aria-controls=</span><span class="s">"accordion-sect-1"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"accordion-title"</span><span class="nt">&gt;</span>Section 1<span class="nt">&lt;/h3&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-block collapse in"</span> <span class="na">id=</span><span class="s">"accordion-sect-1"</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">aria-labeledby=</span><span class="s">"accordion-head-1"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Tacos selvage bushwick, craft beer bitters small batch keffiyeh deep v. Kale chips actually listicle neutra, squid occupy brooklyn raw denim tacos lumberjack cardigan.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-header"</span> <span class="na">id=</span><span class="s">"accordion-head-2"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"collapse"</span> <span class="na">data-target=</span><span class="s">"#accordion-sect-2"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"accordion-sect-2"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"accordion-title collapsed"</span><span class="nt">&gt;</span>Section 2<span class="nt">&lt;/h3&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-block collapse"</span> <span class="na">id=</span><span class="s">"accordion-sect-2"</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">aria-labeledby=</span><span class="s">"accordion-head-2"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Crucifix kale chips mumblecore ramps keffiyeh authentic. Plaid schlitz vinyl, yr chartreuse shoreditch chambray occupy mlkshk narwhal try-hard letterpress williamsburg church-key cardigan.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-header"</span> <span class="na">id=</span><span class="s">"accordion-head-3"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"collapse"</span> <span class="na">data-target=</span><span class="s">"#accordion-sect-3"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"accordion-sect-3"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"accordion-title collapsed"</span><span class="nt">&gt;</span>Section 3<span class="nt">&lt;/h3&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-block collapse"</span> <span class="na">id=</span><span class="s">"accordion-sect-3"</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">aria-labeledby=</span><span class="s">"accordion-head-3"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Occupy leggings offal, craft beer austin tumblr retro plaid hashtag umami kombucha mustache. Raw denim gochujang portland brooklyn, butcher fixie whatever pinterest vegan organic intelligentsia VHS.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>





<h6 class="docs-example-label">Dark background</h6>

<div class="docs-example docs-example-third ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
<div class="accordion bg-dark" role="tablist" aria-multiselectable="true">
  <div class="accordion-header" id="accordion-dark-head-1" role="tab" data-toggle="collapse" data-target="#accordion-dark-sect-1" aria-expanded="true" aria-controls="accordion-dark-sect-1">
    <h3 class="accordion-title">Section 1</h3>
  </div>
  <div class="accordion-block collapse in" id="accordion-dark-sect-1" role="tabpanel" aria-labeledby="accordion-dark-head-1">
    <p>Tacos selvage bushwick, craft beer bitters small batch keffiyeh deep v. Kale chips actually listicle neutra, squid occupy brooklyn raw denim tacos lumberjack cardigan.</p>
  </div>
  <div class="accordion-header" id="accordion-dark-head-2" role="tab" data-toggle="collapse" data-target="#accordion-dark-sect-2" aria-expanded="false" aria-controls="accordion-dark-sect-2">
    <h3 class="accordion-title collapsed">Section 2</h3>
  </div>
  <div class="accordion-block collapse" id="accordion-dark-sect-2" role="tabpanel" aria-labeledby="accordion-dark-head-2">
    <p>Crucifix kale chips mumblecore ramps keffiyeh authentic. Plaid schlitz vinyl, yr chartreuse shoreditch chambray occupy mlkshk narwhal try-hard letterpress williamsburg church-key cardigan.</p>
  </div>
  <div class="accordion-header" id="accordion-dark-head-3" role="tab" data-toggle="collapse" data-target="#accordion-dark-sect-3" aria-expanded="false" aria-controls="accordion-dark-sect-3">
    <h3 class="accordion-title collapsed">Section 3</h3>
  </div>
  <div class="accordion-block collapse" id="accordion-dark-sect-3" role="tabpanel" aria-labeledby="accordion-dark-head-3">
    <p>Occupy leggings offal, craft beer austin tumblr retro plaid hashtag umami kombucha mustache. Raw denim gochujang portland brooklyn, butcher fixie whatever pinterest vegan organic intelligentsia VHS.</p>
  </div>
</div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion bg-dark"</span> <span class="na">role=</span><span class="s">"tablist"</span> <span class="na">aria-multiselectable=</span><span class="s">"true"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-header"</span> <span class="na">id=</span><span class="s">"accordion-dark-head-1"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"collapse"</span> <span class="na">data-target=</span><span class="s">"#accordion-dark-sect-1"</span> <span class="na">aria-expanded=</span><span class="s">"true"</span> <span class="na">aria-controls=</span><span class="s">"accordion-dark-sect-1"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"accordion-title"</span><span class="nt">&gt;</span>Section 1<span class="nt">&lt;/h3&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-block collapse in"</span> <span class="na">id=</span><span class="s">"accordion-dark-sect-1"</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">aria-labeledby=</span><span class="s">"accordion-dark-head-1"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Tacos selvage bushwick, craft beer bitters small batch keffiyeh deep v. Kale chips actually listicle neutra, squid occupy brooklyn raw denim tacos lumberjack cardigan.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-header"</span> <span class="na">id=</span><span class="s">"accordion-dark-head-2"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"collapse"</span> <span class="na">data-target=</span><span class="s">"#accordion-dark-sect-2"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"accordion-dark-sect-2"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"accordion-title collapsed"</span><span class="nt">&gt;</span>Section 2<span class="nt">&lt;/h3&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-block collapse"</span> <span class="na">id=</span><span class="s">"accordion-dark-sect-2"</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">aria-labeledby=</span><span class="s">"accordion-dark-head-2"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Crucifix kale chips mumblecore ramps keffiyeh authentic. Plaid schlitz vinyl, yr chartreuse shoreditch chambray occupy mlkshk narwhal try-hard letterpress williamsburg church-key cardigan.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-header"</span> <span class="na">id=</span><span class="s">"accordion-dark-head-3"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"collapse"</span> <span class="na">data-target=</span><span class="s">"#accordion-dark-sect-3"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"accordion-dark-sect-3"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"accordion-title collapsed"</span><span class="nt">&gt;</span>Section 3<span class="nt">&lt;/h3&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion-block collapse"</span> <span class="na">id=</span><span class="s">"accordion-dark-sect-3"</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">aria-labeledby=</span><span class="s">"accordion-dark-head-3"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Occupy leggings offal, craft beer austin tumblr retro plaid hashtag umami kombucha mustache. Raw denim gochujang portland brooklyn, butcher fixie whatever pinterest vegan organic intelligentsia VHS.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>


</section>
  </article>
</main>

    <!-- <footer class="docs-footer text-xs-center">
  <div class="container-fluid">
    <h5>Apollo UI Docs</h5>
    <p>Version: 1.0.0-beta.3</p>
  </div>
</footer> -->
    <div id="drb-nav-wrapper"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="./js/apollo.js"></script>
<!-- Script for DRB site menu -->
<script src="/js/app.js"></script>

  </body>
</html>