<!DOCTYPE html>
<html>
  



<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Cards | Apollo UI</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="./css/apollo.css">
  <!-- Stylesheet for DRB site menu -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="./css/docs.css">
</head>

  <body>
    <main class="docs">
  <aside class="docs-sidebar">
  <div class="docs-apollo-sidebar">
    <button class="docs-drb-menu-toggle panel-open">
      <span class="icon icon-menu"></span>
    </button>
    <h6 class="docs-sidebar-title">IMS Design Resource Base</h6>
  </div>
  <div class="docs-nav">
    





<h5 class="docs-page-nav-title">Scaffolding</h5>
<ul class="docs-page-nav" role="navigation">
  
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./">Getting started</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./grid.html">Grid layout</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./colors.html">Color palette</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./typography.html">Typography</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./icons.html">Icons</a>
    </li>
  
</ul>

<h5 class="docs-page-nav-title">Components</h5>
<ul class="docs-page-nav" role="navigation">
  
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./buttons.html">Buttons</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./forms.html">Forms</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./search.html">Search</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./login.html">Login</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./tables.html">Tables</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./dropdown.html">Dropdown</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./billboard.html">Billboard</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./alerts.html">Alerts</a>
    </li>
  
    
    
    <li class="docs-page-nav-item active">
      <a href="./cards.html">Cards</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./tabs.html">Tabs</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./navbar.html">Navbar</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./off-canvas.html">Off-canvas panel</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./breadcrumb.html">Breadcrumb</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./pager.html">Pagination</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./loading.html">Loading animation</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./modal.html">Modals</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./accordion.html">Accordion</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./carousel.html">Carousel</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./slider.html">Slider</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./empty-space.html">Empty space prompt</a>
    </li>
  
</ul>



  </div>
</aside>
  <article class="docs-content">
    <header class="docs-page-header">
  <h1 class="docs-page-title">Cards</h1>
</header>

    <section class="docs-section">


<div class="docs-section-overview">
  <h3 class="docs-section-title">Card Overview</h3>
  
<p>(Overview goes here)</p>

</div>




<div class="docs-example docs-example-third ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Descriptive title</h3>
    <p class="card-caption">Use the caption to introduce the content below.</p>
  </div>
  <div class="card-block">
    <img class="img-fluid" src="http://placehold.it/1000x400/f5f5f5/?text=(Placeholder+for+data+visualization)">
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-primary">See data</button>
      </div>
      <div class="col-xs-6 text-xs-right">
        <button class="btn btn-link">
          <span class="icon icon-star"></span>
        </button>
        <button class="btn btn-link">
          <span class="icon icon-campaign"></span>
        </button>
      </div>
    </div>
  </div>
</div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-header"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Descriptive title<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-caption"</span><span class="nt">&gt;</span>Use the caption to introduce the content below.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/1000x400/f5f5f5/?text=(Placeholder+for+data+visualization)"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>See data<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 text-xs-right"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-link"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-star"</span><span class="nt">&gt;&lt;/span&gt;</span>
        <span class="nt">&lt;/button&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-link"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-campaign"</span><span class="nt">&gt;&lt;/span&gt;</span>
        <span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>


</section>


<section class="docs-section">

<div class="docs-example-intro">
  <h6 class="docs-example-title">Cards with grid</h6>
  <p class="docs-example-description">(Description goes here)</p>
</div>





<div class="docs-example docs-example-1 ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
<div class="row">
  <div class="col-xs-6 col-sm-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">First card</h4>
        <p class="card-caption">Some pretty neat stuff.</p>
      </div>
      <div class="card-block">
        <p>Because cards are fluid-width, any sort of content can be put inside a card.  Just keep in mind that fluid images will scale to fit and may get very small, depending on how much space you have allocated for the card.</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">See data</button>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4">
    <div class="card">
      <img class="img-fluid" src="http://placehold.it/640x480/f5f5f5">
      <div class="card-block">
        <h3 class="card-title">Second card</h3>
        <p class="card-caption">This one is different.</p>
        <p>Notice how the title is different on this card.  Only titles inside <code>.card-header</code> are given a predetermined color and size.</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">See data</button>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Third card</h4>
        <p class="card-caption">Not at all like the others.</p>
      </div>
      <div class="card-block">
        <img class="img-fluid" src="http://placehold.it/640x480/f5f5f5">
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">See data</button>
      </div>
    </div>
  </div>
</div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-4"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-header"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>First card<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-caption"</span><span class="nt">&gt;</span>Some pretty neat stuff.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Because cards are fluid-width, any sort of content can be put inside a card.  Just keep in mind that fluid images will scale to fit and may get very small, depending on how much space you have allocated for the card.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>See data<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-4"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/640x480/f5f5f5"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Second card<span class="nt">&lt;/h3&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-caption"</span><span class="nt">&gt;</span>This one is different.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;p&gt;</span>Notice how the title is different on this card.  Only titles inside <span class="nt">&lt;code&gt;</span>.card-header<span class="nt">&lt;/code&gt;</span> are given a predetermined color and size.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>See data<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-4"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-header"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Third card<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-caption"</span><span class="nt">&gt;</span>Not at all like the others.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/640x480/f5f5f5"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>See data<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>


</section>


<section class="docs-section">

<div class="docs-example-intro">
  <h6 class="docs-example-title">Card deck</h6>
  <p class="docs-example-description">(Description goes here)</p>
</div>





<div class="docs-example docs-example-1 ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  

<!-- Only include .card-deck-wrapper if flexbox is disabled -->
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">First card</h4>
        <p class="card-caption">Some pretty neat stuff.</p>
      </div>
      <div class="card-block">
        <p>Because cards are fluid-width, any sort of content can be put inside a card.  Just keep in mind that fluid images will scale to fit and may get very small, depending on how much space you have allocated for the card.</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">See data</button>
      </div>
    </div>
    <div class="card">
      <img class="img-fluid" src="http://placehold.it/640x480/f5f5f5">
      <div class="card-block">
        <h3 class="card-title">Second card</h3>
        <p class="card-caption">This one is different.</p>
        <p>Notice how the title is different on this card.  Only titles inside <code>.card-header</code> are given a predetermined color and size.</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">See data</button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Third card</h4>
        <p class="card-caption">Not at all like the others.</p>
      </div>
      <div class="card-block">
        <img class="img-fluid" src="http://placehold.it/640x480/f5f5f5">
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">See data</button>
      </div>
    </div>
  </div>
</div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Only include .card-deck-wrapper if flexbox is disabled --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-deck-wrapper"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-deck"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-header"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>First card<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-caption"</span><span class="nt">&gt;</span>Some pretty neat stuff.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Because cards are fluid-width, any sort of content can be put inside a card.  Just keep in mind that fluid images will scale to fit and may get very small, depending on how much space you have allocated for the card.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>See data<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/640x480/f5f5f5"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Second card<span class="nt">&lt;/h3&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-caption"</span><span class="nt">&gt;</span>This one is different.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;p&gt;</span>Notice how the title is different on this card.  Only titles inside <span class="nt">&lt;code&gt;</span>.card-header<span class="nt">&lt;/code&gt;</span> are given a predetermined color and size.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>See data<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-header"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Third card<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-caption"</span><span class="nt">&gt;</span>Not at all like the others.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/640x480/f5f5f5"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>See data<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>


</section>


<section class="docs-section">

<div class="docs-example-intro">
  <h6 class="docs-example-title">Card states</h6>
  <p class="docs-example-description">(Description goes here)</p>
</div>




<h6 class="docs-example-label">Information</h6>

<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
  <div class="card card-info">
    <img class="img-fluid" src="http://placehold.it/640x480/f5f5f5">
    <div class="card-block">
      <h4 class="card-title">Information</h4>
      <p>Interesting data to look at.</p>
    </div>
  </div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html">  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card card-info"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/640x480/f5f5f5"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Information<span class="nt">&lt;/h4&gt;</span>
      <span class="nt">&lt;p&gt;</span>Interesting data to look at.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>




<h6 class="docs-example-label">Success</h6>

<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
  <div class="card card-success">
    <img class="img-fluid" src="http://placehold.it/640x480/f5f5f5">
    <div class="card-block">
      <h4 class="card-title">Success</h4>
      <p>Useful for positive metrics.</p>
    </div>
  </div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html">  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card card-success"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/640x480/f5f5f5"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/h4&gt;</span>
      <span class="nt">&lt;p&gt;</span>Useful for positive metrics.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>




<h6 class="docs-example-label">Warning</h6>

<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
  <div class="card card-warning">
    <img class="img-fluid" src="http://placehold.it/640x480/f5f5f5">
    <div class="card-block">
      <h4 class="card-title">Warning</h4>
      <p>This one may be at risk.</p>
    </div>
  </div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html">  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card card-warning"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/640x480/f5f5f5"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/h4&gt;</span>
      <span class="nt">&lt;p&gt;</span>This one may be at risk.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>





<h6 class="docs-example-label">Danger</h6>

<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
  <div class="card card-danger">
    <img class="img-fluid" src="http://placehold.it/640x480/f5f5f5">
    <div class="card-block">
      <h4 class="card-title">Danger!</h4>
      <p>This item needs immediate attention.</p>
    </div>
  </div>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html">  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card card-danger"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">src=</span><span class="s">"http://placehold.it/640x480/f5f5f5"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-block"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Danger!<span class="nt">&lt;/h4&gt;</span>
      <span class="nt">&lt;p&gt;</span>This item needs immediate attention.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span></code></pre></figure>
</div>
</div>


</section>


  </article>
</main>

    <!-- <footer class="docs-footer text-xs-center">
  <div class="container-fluid">
    <h5>Apollo UI Docs</h5>
    <p>Version: 1.0.0-beta.3</p>
  </div>
</footer> -->
    <div id="drb-nav-wrapper"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="./js/apollo.js"></script>
<!-- Script for DRB site menu -->
<script src="/js/app.js"></script>

  </body>
</html>