<!DOCTYPE html>
<html>
  



<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Color Palette | Apollo UI</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="./css/apollo.css">
  <!-- Stylesheet for DRB site menu -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="./css/docs.css">
</head>

  <body>
    <main class="docs">
  <aside class="docs-sidebar">
  <div class="docs-apollo-sidebar">
    <button class="docs-drb-menu-toggle panel-open">
      <span class="icon icon-menu"></span>
    </button>
    <h6 class="docs-sidebar-title">IMS Design Resource Base</h6>
  </div>
  <div class="docs-nav">
    





<h5 class="docs-page-nav-title">Scaffolding</h5>
<ul class="docs-page-nav" role="navigation">
  
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./">Getting started</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./grid.html">Grid layout</a>
    </li>
  
    
    
    <li class="docs-page-nav-item active">
      <a href="./colors.html">Color palette</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./typography.html">Typography</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./icons.html">Icons</a>
    </li>
  
</ul>

<h5 class="docs-page-nav-title">Components</h5>
<ul class="docs-page-nav" role="navigation">
  
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./buttons.html">Buttons</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./forms.html">Forms</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./search.html">Search</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./login.html">Login</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./tables.html">Tables</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./dropdown.html">Dropdown</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./billboard.html">Billboard</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./alerts.html">Alerts</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./cards.html">Cards</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./tabs.html">Tabs</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./navbar.html">Navbar</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./off-canvas.html">Off-canvas panel</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./breadcrumb.html">Breadcrumb</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./pager.html">Pagination</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./loading.html">Loading animation</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./modal.html">Modals</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./accordion.html">Accordion</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./carousel.html">Carousel</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./slider.html">Slider</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./empty-space.html">Empty space prompt</a>
    </li>
  
</ul>



  </div>
</aside>
  <article class="docs-content">
    <header class="docs-page-header">
  <h1 class="docs-page-title">Color Palette</h1>
</header>

    <section class="docs-section">
  <div class="clearfix">
  
    <div class="docs-color-block" style="background-color:#32b5fc;">
      <div class="docs-color-label">atmosphere<br>#32b5fc</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#C9ECFE;">
      <div class="docs-color-label">atmosphere-lighter<br>#c9ecfe</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#95DAFD;">
      <div class="docs-color-label">atmosphere-light<br>#95dafd</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#2886BA;">
      <div class="docs-color-label">atmosphere-dark<br>#2886ba</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#1B597D;">
      <div class="docs-color-label">atmosphere-darker<br>#1b597d</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#134968;">
      <div class="docs-color-label">atmosphere-darkest<br>#134968</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#2975e9;">
      <div class="docs-color-label">blue<br>#2975e9</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#C4DAF7;">
      <div class="docs-color-label">blue-lighter<br>#c4daf7</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#8EB7F4;">
      <div class="docs-color-label">blue-light<br>#8eb7f4</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#1E54A8;">
      <div class="docs-color-label">blue-dark<br>#1e54a8</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#143770;">
      <div class="docs-color-label">blue-darker<br>#143770</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#072249;">
      <div class="docs-color-label">blue-darkest<br>#072249</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#3ed6cf;">
      <div class="docs-color-label">teal<br>#3ed6cf</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#CEF5F6;">
      <div class="docs-color-label">teal-lighter<br>#cef5f6</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#9EECE8;">
      <div class="docs-color-label">teal-light<br>#9eece8</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#339E99;">
      <div class="docs-color-label">teal-dark<br>#339e99</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#1E6766;">
      <div class="docs-color-label">teal-darker<br>#1e6766</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#124948;">
      <div class="docs-color-label">teal-darkest<br>#124948</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#2b3a43;">
      <div class="docs-color-label">gray<br>#2b3a43</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#CACDCF;">
      <div class="docs-color-label">gray-lighter<br>#cacdcf</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#949AA0;">
      <div class="docs-color-label">gray-light<br>#949aa0</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#1F2A31;">
      <div class="docs-color-label">gray-dark<br>#1f2a31</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#151D21;">
      <div class="docs-color-label">gray-darker<br>#151d21</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#0B0F11;">
      <div class="docs-color-label">gray-darkest<br>#0b0f11</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#3a4f59;">
      <div class="docs-color-label">charcoal<br>#3a4f59</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#CED2D4;">
      <div class="docs-color-label">charcoal-lighter<br>#ced2d4</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#9CA7AC;">
      <div class="docs-color-label">charcoal-light<br>#9ca7ac</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#2B3B43;">
      <div class="docs-color-label">charcoal-dark<br>#2b3b43</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#1D272C;">
      <div class="docs-color-label">charcoal-darker<br>#1d272c</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#0F1416;">
      <div class="docs-color-label">charcoal-darkest<br>#0f1416</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#f7f5f4;">
      <div class="docs-color-label">neutral<br>#f7f5f4</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#FDFCFC;">
      <div class="docs-color-label">neutral-lighter<br>#fdfcfc</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#FBFAF9;">
      <div class="docs-color-label">neutral-light<br>#fbfaf9</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#B9B8B7;">
      <div class="docs-color-label">neutral-dark<br>#b9b8b7</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#7B7A7A;">
      <div class="docs-color-label">neutral-darker<br>#7b7a7a</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#3E3D3D;">
      <div class="docs-color-label">neutral-darkest<br>#3e3d3d</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#ecdb5d;">
      <div class="docs-color-label">yellow<br>#ecdb5d</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#FAF6D6;">
      <div class="docs-color-label">yellow-lighter<br>#faf6d6</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#F5EDAE;">
      <div class="docs-color-label">yellow-light<br>#f5edae</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#F4EA7C;">
      <div class="docs-color-label">yellow-dark<br>#f4ea7c</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#BBAD48;">
      <div class="docs-color-label">yellow-darker<br>#bbad48</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#897F3D;">
      <div class="docs-color-label">yellow-darkest<br>#897f3d</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#f75040;">
      <div class="docs-color-label">coral<br>#f75040</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#F7ADA3;">
      <div class="docs-color-label">coral-lighter<br>#f7ada3</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#F77365;">
      <div class="docs-color-label">coral-light<br>#f77365</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#DE4839;">
      <div class="docs-color-label">coral-dark<br>#de4839</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#BD3A31;">
      <div class="docs-color-label">coral-darker<br>#bd3a31</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#f7922e;">
      <div class="docs-color-label">orange<br>#f7922e</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#FFF0B2;">
      <div class="docs-color-label">orange-lighter<br>#fff0b2</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#FFD792;">
      <div class="docs-color-label">orange-light<br>#ffd792</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#FDBD59;">
      <div class="docs-color-label">orange-dark<br>#fdbd59</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#B7661A;">
      <div class="docs-color-label">orange-darker<br>#b7661a</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#2cc039;">
      <div class="docs-color-label">green<br>#2cc039</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#8CDD96;">
      <div class="docs-color-label">green-lighter<br>#8cdd96</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#71C272;">
      <div class="docs-color-label">green-light<br>#71c272</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#68EF66;">
      <div class="docs-color-label">green-dark<br>#68ef66</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#146D21;">
      <div class="docs-color-label">green-darker<br>#146d21</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#245eb7;">
      <div class="docs-color-label">navy<br>#245eb7</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#C4DFF8;">
      <div class="docs-color-label">navy-lighter<br>#c4dff8</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#94BBE4;">
      <div class="docs-color-label">navy-light<br>#94bbe4</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#4066A7;">
      <div class="docs-color-label">navy-dark<br>#4066a7</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#123977;">
      <div class="docs-color-label">navy-darker<br>#123977</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#32b5fc;">
      <div class="docs-color-label">ice-blue<br>#32b5fc</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#DAF9FF;">
      <div class="docs-color-label">ice-blue-lighter<br>#daf9ff</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#B1EFFE;">
      <div class="docs-color-label">ice-blue-light<br>#b1effe</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#6ED1FD;">
      <div class="docs-color-label">ice-blue-dark<br>#6ed1fd</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#196B9A;">
      <div class="docs-color-label">ice-blue-darker<br>#196b9a</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#40beba;">
      <div class="docs-color-label">aqua<br>#40beba</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#CBF3F4;">
      <div class="docs-color-label">aqua-lighter<br>#cbf3f4</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#87E5E4;">
      <div class="docs-color-label">aqua-light<br>#87e5e4</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#49DEDD;">
      <div class="docs-color-label">aqua-dark<br>#49dedd</div>
    </div>
  
    <div class="docs-color-block" style="background-color:#1D6967;">
      <div class="docs-color-label">aqua-darker<br>#1d6967</div>
    </div>
  
  </div>
</section>

  </article>
</main>

    <!-- <footer class="docs-footer text-xs-center">
  <div class="container-fluid">
    <h5>Apollo UI Docs</h5>
    <p>Version: 1.0.0-beta.3</p>
  </div>
</footer> -->
    <div id="drb-nav-wrapper"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="./js/apollo.js"></script>
<!-- Script for DRB site menu -->
<script src="/js/app.js"></script>

  </body>
</html>