<!DOCTYPE html>
<html>
  



<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Icons | Apollo UI</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="./css/apollo.css">
  <!-- Stylesheet for DRB site menu -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="./css/docs.css">
</head>

  <body>
    <main class="docs">
  <aside class="docs-sidebar">
  <div class="docs-apollo-sidebar">
    <button class="docs-drb-menu-toggle panel-open">
      <span class="icon icon-menu"></span>
    </button>
    <h6 class="docs-sidebar-title">IMS Design Resource Base</h6>
  </div>
  <div class="docs-nav">
    





<h5 class="docs-page-nav-title">Scaffolding</h5>
<ul class="docs-page-nav" role="navigation">
  
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./">Getting started</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./grid.html">Grid layout</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./colors.html">Color palette</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./typography.html">Typography</a>
    </li>
  
    
    
    <li class="docs-page-nav-item active">
      <a href="./icons.html">Icons</a>
    </li>
  
</ul>

<h5 class="docs-page-nav-title">Components</h5>
<ul class="docs-page-nav" role="navigation">
  
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./buttons.html">Buttons</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./forms.html">Forms</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./search.html">Search</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./login.html">Login</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./tables.html">Tables</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./dropdown.html">Dropdown</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./billboard.html">Billboard</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./alerts.html">Alerts</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./cards.html">Cards</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./tabs.html">Tabs</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./navbar.html">Navbar</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./off-canvas.html">Off-canvas panel</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./breadcrumb.html">Breadcrumb</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./pager.html">Pagination</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./loading.html">Loading animation</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./modal.html">Modals</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./accordion.html">Accordion</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./carousel.html">Carousel</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./slider.html">Slider</a>
    </li>
  
    
    
    <li class="docs-page-nav-item ">
      <a href="./empty-space.html">Empty space prompt</a>
    </li>
  
</ul>



  </div>
</aside>
  <article class="docs-content">
    <header class="docs-page-header">
  <h1 class="docs-page-title">Icons</h1>
</header>

    <section class="docs-section">
<div class="docs-example-intro">
  <h6 class="docs-example-title">Basic icons</h6>
  <p class="docs-example-description">Add Apollo icons to a page using the <code>.icon</code> base class, followed by the character-specific <code>.icon-{name}</code> modifier class.</p>
</div>



<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
<span class="icon icon-information-circle"></span>
<span class="icon icon-help-circle"></span>
<span class="icon icon-alert-circle"></span>
<span class="icon icon-notification"></span>
<span class="icon icon-star"></span>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-information-circle"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-help-circle"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-alert-circle"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-notification"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-star"</span><span class="nt">&gt;&lt;/span&gt;</span></code></pre></figure>
</div>
</div>

</section>


<section class="docs-section">
<div class="docs-example-intro">
  <h6 class="docs-example-title">Icon color</h6>
  <p class="docs-example-description">Change the color of an icon using the <code>color</code> property, as you would for changing the color of text.</p>
</div>



<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
<span class="icon icon-information-circle text-primary"></span>
<span class="icon icon-help-circle text-info"></span>
<span class="icon icon-alert-circle text-danger"></span>
<span class="icon icon-notification text-success"></span>
<span class="icon icon-star text-warning"></span>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-information-circle text-primary"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-help-circle text-info"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-alert-circle text-danger"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-notification text-success"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-star text-warning"</span><span class="nt">&gt;&lt;/span&gt;</span></code></pre></figure>
</div>
</div>

</section>


<section class="docs-section">
<div class="docs-example-intro">
  <h6 class="docs-example-title">Icon size</h6>
  <p class="docs-example-description">To change the size of an icon, simply change the <code>font-size</code> property of the icon itself or its parent element.</p>
</div>



<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
<!-- Change size of icon -->
<span class="icon icon-help-circle" style="font-size: 64px;"></span>

<!-- Change size of parent -->
<span style="font-size: 32px;">
  <span class="icon icon-help-circle"></span>
</span>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Change size of icon --&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-help-circle"</span> <span class="na">style=</span><span class="s">"font-size: 64px;"</span><span class="nt">&gt;&lt;/span&gt;</span>

<span class="c">&lt;!-- Change size of parent --&gt;</span>
<span class="nt">&lt;span</span> <span class="na">style=</span><span class="s">"font-size: 32px;"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-help-circle"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;/span&gt;</span></code></pre></figure>
</div>
</div>


</section>


<section class="docs-section">
<div class="docs-example-intro">
  <h6 class="docs-example-title">Vertical alignment</h6>
  <p class="docs-example-description">Icons are aligned with inline text using the <code>vertical-align</code> property.  In most cases, the default alignment works well, but here are some examples of how to modify the alignment using different <code>vertical-align</code> values or relative positioning.</p>
</div>



<h6 class="docs-example-label">Default alignment</h6>

<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
  <a href="#0">
    <span class="icon icon-information-circle"></span>
    Request information
  </a>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html">  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#0"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-information-circle"</span><span class="nt">&gt;&lt;/span&gt;</span>
    Request information
  <span class="nt">&lt;/a&gt;</span></code></pre></figure>
</div>
</div>




<h6 class="docs-example-label">Middle alignment</h6>

<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
<h3>
  <span class="icon icon-search" style="vertical-align: middle;"></span>
  Searching...
</h3>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;h3&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-search"</span> <span class="na">style=</span><span class="s">"vertical-align: middle;"</span><span class="nt">&gt;&lt;/span&gt;</span>
  Searching...
<span class="nt">&lt;/h3&gt;</span></code></pre></figure>
</div>
</div>




<h6 class="docs-example-label">Relative positioning</h6>

<div class="docs-example docs-example-fourth ">
  
  <div class="docs-example-rendered"><div class="docs-example-rendered-group">
  
  
  
  <button class="btn btn-primary btn-lg">
    <span class="icon icon-campaign" style="position: relative; top: 2px;"></span>
    Send
  </button>

  
</div>
</div>
  
  <div class="docs-example-code"><figure class="highlight"><pre><code class="language-html" data-lang="html">  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary btn-lg"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon icon-campaign"</span> <span class="na">style=</span><span class="s">"position: relative; top: 2px;"</span><span class="nt">&gt;&lt;/span&gt;</span>
    Send
  <span class="nt">&lt;/button&gt;</span></code></pre></figure>
</div>
</div>



</section>



<section class="docs-section" id="icon-list">
  
  <div class="docs-example-intro">
  <h6 class="docs-example-title">Icon list</h6>
  <p class="docs-example-description">
  Below are all 273 characters in the Apollo Icon set.  To use an icon, simply use something like <code>&lt;span class="icon icon-{name}"&gt;&lt;/span&gt;</code>, where <code>{name}</code> is one of the names from the list below.
  </p>
</div>

  <div class="docs-icon-container">
  
    <div class="docs-icon">
      <span class="icon icon-account"></span>
      <span class="docs-icon-name">account</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-airplane"></span>
      <span class="docs-icon-name">airplane</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-alert-circle"></span>
      <span class="docs-icon-name">alert-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-align-center"></span>
      <span class="docs-icon-name">align-center</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-align-justified"></span>
      <span class="docs-icon-name">align-justified</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-align-left"></span>
      <span class="docs-icon-name">align-left</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-align-right"></span>
      <span class="docs-icon-name">align-right</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-animal-health"></span>
      <span class="docs-icon-name">animal-health</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-annotation"></span>
      <span class="docs-icon-name">annotation</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-archive"></span>
      <span class="docs-icon-name">archive</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-arrow-down"></span>
      <span class="docs-icon-name">arrow-down</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-arrow-left"></span>
      <span class="docs-icon-name">arrow-left</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-arrow-right"></span>
      <span class="docs-icon-name">arrow-right</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-arrow-up"></span>
      <span class="docs-icon-name">arrow-up</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-backspace"></span>
      <span class="docs-icon-name">backspace</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-bed"></span>
      <span class="docs-icon-name">bed</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-blank"></span>
      <span class="docs-icon-name">blank</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-book"></span>
      <span class="docs-icon-name">book</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-border-all"></span>
      <span class="docs-icon-name">border-all</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-border"></span>
      <span class="docs-icon-name">border</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-boxes"></span>
      <span class="docs-icon-name">boxes</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-building-hospital"></span>
      <span class="docs-icon-name">building-hospital</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-building-office"></span>
      <span class="docs-icon-name">building-office</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-building"></span>
      <span class="docs-icon-name">building</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-calendar-add"></span>
      <span class="docs-icon-name">calendar-add</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-calendar-check"></span>
      <span class="docs-icon-name">calendar-check</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-calendar"></span>
      <span class="docs-icon-name">calendar</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-camera"></span>
      <span class="docs-icon-name">camera</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-campaign-all"></span>
      <span class="docs-icon-name">campaign-all</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-campaign-monitor"></span>
      <span class="docs-icon-name">campaign-monitor</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-campaign-multiple"></span>
      <span class="docs-icon-name">campaign-multiple</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-campaign-target"></span>
      <span class="docs-icon-name">campaign-target</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-campaign-wave"></span>
      <span class="docs-icon-name">campaign-wave</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-campaign"></span>
      <span class="docs-icon-name">campaign</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-car-add"></span>
      <span class="docs-icon-name">car-add</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-car-wash"></span>
      <span class="docs-icon-name">car-wash</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-car"></span>
      <span class="docs-icon-name">car</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-cart"></span>
      <span class="docs-icon-name">cart</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-cell-insert"></span>
      <span class="docs-icon-name">cell-insert</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-cell-merge"></span>
      <span class="docs-icon-name">cell-merge</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-cell-split"></span>
      <span class="docs-icon-name">cell-split</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chart-bar"></span>
      <span class="docs-icon-name">chart-bar</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chart-line"></span>
      <span class="docs-icon-name">chart-line</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chart-pie"></span>
      <span class="docs-icon-name">chart-pie</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chat-medical"></span>
      <span class="docs-icon-name">chat-medical</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chat-reply"></span>
      <span class="docs-icon-name">chat-reply</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chat"></span>
      <span class="docs-icon-name">chat</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-check-circle"></span>
      <span class="docs-icon-name">check-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-check-solid"></span>
      <span class="docs-icon-name">check-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-check"></span>
      <span class="docs-icon-name">check</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chevron-down"></span>
      <span class="docs-icon-name">chevron-down</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chevron-left"></span>
      <span class="docs-icon-name">chevron-left</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chevron-right"></span>
      <span class="docs-icon-name">chevron-right</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chevron-up"></span>
      <span class="docs-icon-name">chevron-up</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chevrons-horizontal"></span>
      <span class="docs-icon-name">chevrons-horizontal</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-chevrons-vertical"></span>
      <span class="docs-icon-name">chevrons-vertical</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-circle-solid"></span>
      <span class="docs-icon-name">circle-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-circle"></span>
      <span class="docs-icon-name">circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-clipboard"></span>
      <span class="docs-icon-name">clipboard</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-clock"></span>
      <span class="docs-icon-name">clock</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-close-circle"></span>
      <span class="docs-icon-name">close-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-close-solid"></span>
      <span class="docs-icon-name">close-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-close"></span>
      <span class="docs-icon-name">close</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-cloud-download"></span>
      <span class="docs-icon-name">cloud-download</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-cloud-sync"></span>
      <span class="docs-icon-name">cloud-sync</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-cloud-upload"></span>
      <span class="docs-icon-name">cloud-upload</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-collapse"></span>
      <span class="docs-icon-name">collapse</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-color-fill"></span>
      <span class="docs-icon-name">color-fill</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-compare"></span>
      <span class="docs-icon-name">compare</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-computer"></span>
      <span class="docs-icon-name">computer</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-contact-add"></span>
      <span class="docs-icon-name">contact-add</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-contact"></span>
      <span class="docs-icon-name">contact</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-continue-circle"></span>
      <span class="docs-icon-name">continue-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-copy"></span>
      <span class="docs-icon-name">copy</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-corporate-finance"></span>
      <span class="docs-icon-name">corporate-finance</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-credit-card"></span>
      <span class="docs-icon-name">credit-card</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-crosshairs"></span>
      <span class="docs-icon-name">crosshairs</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-cut"></span>
      <span class="docs-icon-name">cut</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-database-settings"></span>
      <span class="docs-icon-name">database-settings</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-database"></span>
      <span class="docs-icon-name">database</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-dining"></span>
      <span class="docs-icon-name">dining</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-disabled"></span>
      <span class="docs-icon-name">disabled</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-doctor"></span>
      <span class="docs-icon-name">doctor</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-document"></span>
      <span class="docs-icon-name">document</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-drag"></span>
      <span class="docs-icon-name">drag</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-dropdown"></span>
      <span class="docs-icon-name">dropdown</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-edit"></span>
      <span class="docs-icon-name">edit</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-ellipsis-circle"></span>
      <span class="docs-icon-name">ellipsis-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-email-template"></span>
      <span class="docs-icon-name">email-template</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-envelope-open"></span>
      <span class="docs-icon-name">envelope-open</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-envelope"></span>
      <span class="docs-icon-name">envelope</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-expand"></span>
      <span class="docs-icon-name">expand</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-export"></span>
      <span class="docs-icon-name">export</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-face-happy"></span>
      <span class="docs-icon-name">face-happy</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-face-neutral"></span>
      <span class="docs-icon-name">face-neutral</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-face-sad"></span>
      <span class="docs-icon-name">face-sad</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-facebook"></span>
      <span class="docs-icon-name">facebook</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-factory"></span>
      <span class="docs-icon-name">factory</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-fax"></span>
      <span class="docs-icon-name">fax</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-code"></span>
      <span class="docs-icon-name">file-code</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-csv"></span>
      <span class="docs-icon-name">file-csv</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-excel"></span>
      <span class="docs-icon-name">file-excel</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-executable"></span>
      <span class="docs-icon-name">file-executable</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-pdf"></span>
      <span class="docs-icon-name">file-pdf</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-powerpoint"></span>
      <span class="docs-icon-name">file-powerpoint</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-script"></span>
      <span class="docs-icon-name">file-script</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-star"></span>
      <span class="docs-icon-name">file-star</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-text"></span>
      <span class="docs-icon-name">file-text</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-video"></span>
      <span class="docs-icon-name">file-video</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-word"></span>
      <span class="docs-icon-name">file-word</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-file-zip"></span>
      <span class="docs-icon-name">file-zip</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-filter"></span>
      <span class="docs-icon-name">filter</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-folder-alert"></span>
      <span class="docs-icon-name">folder-alert</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-folder"></span>
      <span class="docs-icon-name">folder</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-form"></span>
      <span class="docs-icon-name">form</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-gauge-full"></span>
      <span class="docs-icon-name">gauge-full</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-gauge-half"></span>
      <span class="docs-icon-name">gauge-half</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-globe"></span>
      <span class="docs-icon-name">globe</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-grid-solid"></span>
      <span class="docs-icon-name">grid-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-grid"></span>
      <span class="docs-icon-name">grid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-group-add"></span>
      <span class="docs-icon-name">group-add</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-group-business"></span>
      <span class="docs-icon-name">group-business</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-group"></span>
      <span class="docs-icon-name">group</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-hand-truck"></span>
      <span class="docs-icon-name">hand-truck</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-handshake"></span>
      <span class="docs-icon-name">handshake</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-help-circle"></span>
      <span class="docs-icon-name">help-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-hierarchy"></span>
      <span class="docs-icon-name">hierarchy</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-home-alt"></span>
      <span class="docs-icon-name">home-alt</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-home"></span>
      <span class="docs-icon-name">home</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-image"></span>
      <span class="docs-icon-name">image</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-import"></span>
      <span class="docs-icon-name">import</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-indent"></span>
      <span class="docs-icon-name">indent</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-information-circle"></span>
      <span class="docs-icon-name">information-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-insert-column"></span>
      <span class="docs-icon-name">insert-column</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-insert-placeholder"></span>
      <span class="docs-icon-name">insert-placeholder</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-insert-row"></span>
      <span class="docs-icon-name">insert-row</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-internet"></span>
      <span class="docs-icon-name">internet</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-journey-activity-monitor"></span>
      <span class="docs-icon-name">journey-activity-monitor</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-journey-filter"></span>
      <span class="docs-icon-name">journey-filter</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-journey-filters-shared"></span>
      <span class="docs-icon-name">journey-filters-shared</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-journey"></span>
      <span class="docs-icon-name">journey</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-key"></span>
      <span class="docs-icon-name">key</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-landing-page"></span>
      <span class="docs-icon-name">landing-page</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-left-to-right"></span>
      <span class="docs-icon-name">left-to-right</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-lesson"></span>
      <span class="docs-icon-name">lesson</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-link"></span>
      <span class="docs-icon-name">link</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-linkedin"></span>
      <span class="docs-icon-name">linkedin</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-list-bulleted"></span>
      <span class="docs-icon-name">list-bulleted</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-list-ordered"></span>
      <span class="docs-icon-name">list-ordered</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-load"></span>
      <span class="docs-icon-name">load</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-loading"></span>
      <span class="docs-icon-name">loading</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-location-solid"></span>
      <span class="docs-icon-name">location-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-location"></span>
      <span class="docs-icon-name">location</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-lock"></span>
      <span class="docs-icon-name">lock</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-mailbox"></span>
      <span class="docs-icon-name">mailbox</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-map"></span>
      <span class="docs-icon-name">map</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-menu"></span>
      <span class="docs-icon-name">menu</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-merge"></span>
      <span class="docs-icon-name">merge</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-message-alert"></span>
      <span class="docs-icon-name">message-alert</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-message-reply"></span>
      <span class="docs-icon-name">message-reply</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-message-user"></span>
      <span class="docs-icon-name">message-user</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-message-yammer"></span>
      <span class="docs-icon-name">message-yammer</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-message"></span>
      <span class="docs-icon-name">message</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-microphone"></span>
      <span class="docs-icon-name">microphone</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-minus-circle"></span>
      <span class="docs-icon-name">minus-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-minus-solid"></span>
      <span class="docs-icon-name">minus-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-minus"></span>
      <span class="docs-icon-name">minus</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-moon"></span>
      <span class="docs-icon-name">moon</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-network"></span>
      <span class="docs-icon-name">network</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-news"></span>
      <span class="docs-icon-name">news</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-notification-settings"></span>
      <span class="docs-icon-name">notification-settings</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-notification"></span>
      <span class="docs-icon-name">notification</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-order-descending"></span>
      <span class="docs-icon-name">order-descending</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-outdent"></span>
      <span class="docs-icon-name">outdent</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-page-template"></span>
      <span class="docs-icon-name">page-template</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-pager"></span>
      <span class="docs-icon-name">pager</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-paste"></span>
      <span class="docs-icon-name">paste</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-pause-circle"></span>
      <span class="docs-icon-name">pause-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-pharmacy-chain"></span>
      <span class="docs-icon-name">pharmacy-chain</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-pharmacy"></span>
      <span class="docs-icon-name">pharmacy</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-phone-home"></span>
      <span class="docs-icon-name">phone-home</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-phone-mobile"></span>
      <span class="docs-icon-name">phone-mobile</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-phone"></span>
      <span class="docs-icon-name">phone</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-pill"></span>
      <span class="docs-icon-name">pill</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-plus-circle"></span>
      <span class="docs-icon-name">plus-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-plus-solid"></span>
      <span class="docs-icon-name">plus-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-plus"></span>
      <span class="docs-icon-name">plus</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-presentation"></span>
      <span class="docs-icon-name">presentation</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-print"></span>
      <span class="docs-icon-name">print</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-profile-reload"></span>
      <span class="docs-icon-name">profile-reload</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-profile"></span>
      <span class="docs-icon-name">profile</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-progress"></span>
      <span class="docs-icon-name">progress</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-project-plan"></span>
      <span class="docs-icon-name">project-plan</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-queue-settings"></span>
      <span class="docs-icon-name">queue-settings</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-queue"></span>
      <span class="docs-icon-name">queue</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-receipt"></span>
      <span class="docs-icon-name">receipt</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-recording"></span>
      <span class="docs-icon-name">recording</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-redo"></span>
      <span class="docs-icon-name">redo</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-reload"></span>
      <span class="docs-icon-name">reload</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-report-check"></span>
      <span class="docs-icon-name">report-check</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-report"></span>
      <span class="docs-icon-name">report</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-reports"></span>
      <span class="docs-icon-name">reports</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-right-to-left"></span>
      <span class="docs-icon-name">right-to-left</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-route"></span>
      <span class="docs-icon-name">route</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-save"></span>
      <span class="docs-icon-name">save</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-screen"></span>
      <span class="docs-icon-name">screen</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-search"></span>
      <span class="docs-icon-name">search</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-settings"></span>
      <span class="docs-icon-name">settings</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-share"></span>
      <span class="docs-icon-name">share</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-shipping"></span>
      <span class="docs-icon-name">shipping</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-sidebar-expand"></span>
      <span class="docs-icon-name">sidebar-expand</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-signature"></span>
      <span class="docs-icon-name">signature</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-signup"></span>
      <span class="docs-icon-name">signup</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-slides"></span>
      <span class="docs-icon-name">slides</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-special-character"></span>
      <span class="docs-icon-name">special-character</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-spellcheck"></span>
      <span class="docs-icon-name">spellcheck</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-split"></span>
      <span class="docs-icon-name">split</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-square-solid"></span>
      <span class="docs-icon-name">square-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-square"></span>
      <span class="docs-icon-name">square</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-star-solid"></span>
      <span class="docs-icon-name">star-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-star"></span>
      <span class="docs-icon-name">star</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-start-circle"></span>
      <span class="docs-icon-name">start-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-status"></span>
      <span class="docs-icon-name">status</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-stethoscope"></span>
      <span class="docs-icon-name">stethoscope</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-stop-circle"></span>
      <span class="docs-icon-name">stop-circle</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-stop-solid"></span>
      <span class="docs-icon-name">stop-solid</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-stop"></span>
      <span class="docs-icon-name">stop</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-stopwatch"></span>
      <span class="docs-icon-name">stopwatch</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-store-check"></span>
      <span class="docs-icon-name">store-check</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-survey-monitor"></span>
      <span class="docs-icon-name">survey-monitor</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-survey"></span>
      <span class="docs-icon-name">survey</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-sync"></span>
      <span class="docs-icon-name">sync</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-tablet"></span>
      <span class="docs-icon-name">tablet</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-tag"></span>
      <span class="docs-icon-name">tag</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-target"></span>
      <span class="docs-icon-name">target</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-taxi"></span>
      <span class="docs-icon-name">taxi</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-temperature"></span>
      <span class="docs-icon-name">temperature</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-bold"></span>
      <span class="docs-icon-name">text-bold</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-highlight"></span>
      <span class="docs-icon-name">text-highlight</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-italic"></span>
      <span class="docs-icon-name">text-italic</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-larger"></span>
      <span class="docs-icon-name">text-larger</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-remove-formatting"></span>
      <span class="docs-icon-name">text-remove-formatting</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-smaller"></span>
      <span class="docs-icon-name">text-smaller</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-strikethrough"></span>
      <span class="docs-icon-name">text-strikethrough</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-subscript"></span>
      <span class="docs-icon-name">text-subscript</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-superscript"></span>
      <span class="docs-icon-name">text-superscript</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-text-underline"></span>
      <span class="docs-icon-name">text-underline</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-thumbs-down"></span>
      <span class="docs-icon-name">thumbs-down</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-thumbs-up"></span>
      <span class="docs-icon-name">thumbs-up</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-ticket"></span>
      <span class="docs-icon-name">ticket</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-to-do"></span>
      <span class="docs-icon-name">to-do</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-tool"></span>
      <span class="docs-icon-name">tool</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-train"></span>
      <span class="docs-icon-name">train</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-trash"></span>
      <span class="docs-icon-name">trash</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-trend"></span>
      <span class="docs-icon-name">trend</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-trophy"></span>
      <span class="docs-icon-name">trophy</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-twitter"></span>
      <span class="docs-icon-name">twitter</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-undo"></span>
      <span class="docs-icon-name">undo</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user-add"></span>
      <span class="docs-icon-name">user-add</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user-assign"></span>
      <span class="docs-icon-name">user-assign</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user-business"></span>
      <span class="docs-icon-name">user-business</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user-check"></span>
      <span class="docs-icon-name">user-check</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user-history"></span>
      <span class="docs-icon-name">user-history</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user-message"></span>
      <span class="docs-icon-name">user-message</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user-review"></span>
      <span class="docs-icon-name">user-review</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user-star"></span>
      <span class="docs-icon-name">user-star</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-user"></span>
      <span class="docs-icon-name">user</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-vault"></span>
      <span class="docs-icon-name">vault</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-veterinarian"></span>
      <span class="docs-icon-name">veterinarian</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-video"></span>
      <span class="docs-icon-name">video</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-view"></span>
      <span class="docs-icon-name">view</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-yammer"></span>
      <span class="docs-icon-name">yammer</span>
    </div>
  
    <div class="docs-icon">
      <span class="icon icon-youtube"></span>
      <span class="docs-icon-name">youtube</span>
    </div>
  
  </div>
</section>

  </article>
</main>

    <!-- <footer class="docs-footer text-xs-center">
  <div class="container-fluid">
    <h5>Apollo UI Docs</h5>
    <p>Version: 1.0.0-beta.3</p>
  </div>
</footer> -->
    <div id="drb-nav-wrapper"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="./js/apollo.js"></script>
<!-- Script for DRB site menu -->
<script src="/js/app.js"></script>

  </body>
</html>