<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>TheeTommyT</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="styles/main.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body ng-app="portfolio">
    <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TFRNT2"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TFRNT2');</script>
    <!-- End Google Tag Manager -->
    <div id="wrapper">
      <header>
        <div class="navbar-fixed" id="navStyle">
            <nav class="light-blue darken-2">
              <div class="nav-wrapper">
                <a href="#navStyle" class="brand-logo"><img id="tomPic" src="images/tom.jpg"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="large material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  <li class="waves-effect waves-light"><a href="#projects">Projects</a></li>
                  <li class="waves-effect waves-light"><a href="#startups">Start-Ups</a></li>
                  <li class="waves-effect waves-light"><a href="#connect">Connect</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  <li class="waves-effect waves-blue"><a href="#projects"><span>Projects</span></a></li>
                  <li class="waves-effect waves-blue"><a href="#startups"><span class="waves-effect waves-blue">Start-Ups</span></a></li>
                  <li class="waves-effect waves-blue"><a href="#connect"><span>Connect</span></a></li>
                </ul>
              </div>
            </nav>
        </div>
      </header>



      <main>
        <div class="section" id="kit">
          <div class="row container">
            <div class="contain">
              <div class="mockup">
                <img class="macbook" src="images/macbook.png">
                <div class="artwork">
                  <img class="macbook" src="images/inMacbook.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="parallax-container">
          <div class="parallax"><img src="images/para2.svg"></div>
        </div>


        <div class="section grey lighten-2" id="projects">

          <h4 class="light-blue-text text-darken-2 container headline">Projects</h4>

          <!--Angular Projects Template-->
          <div class="row container" ng-controller="ProjectController">
            <div class="col s12 m6 l6" ng-repeat="project in projects">
              <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src = "{{project.image}}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 headline">{{project.name}}<a class="btn-floating btn-large waves-effect waves-light red lighten-1 right spin"><i class="material-icons">add</i></a></span>
                    <p class="grey-text text-darken-1">{{project.tag}}</p>
                    <div class="cardlink"><span class="link"><a href="{{project.weblink}}" target="_blank" class="waves-effect waves-light">Live on Web</a></span>
                    <span class="link"><a href="{{project.github}}" target="_blank" class="waves-effect waves-light">GitHub Repo</a></span>
                    </div>

                  </div>
                  <div class="card-reveal blue darken-1">
                    <span class="card-title activator white-text headline ">{{project.name}}<hr><i class="small material-icons right red-text text-lighten-3">highlight_off</i></span>
                      <div class="tech">
                    <br>
                        <h6 class="grey-text text-lighten-3">Technologies Used</h6>
                    <br>
                        <h6 class="grey-text text-lighten-2">{{project.things}}</h6>
                    <br>
                    <br>
                    <div class="cardlink"><span class="link"><a href="{{project.weblink}}" target="_blank" class="waves-effect waves-light  red-text text-lighten-4">Live on Web</a></span>
                    <span class="link"><a href="{{project.github}}" target="_blank" class="waves-effect waves-light red-text text-lighten-4">GitHub Repo</a></span>
                    </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>

        </div>



        <div class="parallax-container">
          <div class="parallax"><img src="images/para2.svg"></div>
        </div>


        <div class="section grey lighten-2" id="startups">
          <h4 class="light-blue-text text-darken-2 container headline">Start-Ups</h4>

          <div class="row container" ng-controller="StartupController">
            <div class="col s12 m6 l6" ng-repeat="startup in startups">
              <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src = "{{startup.image}}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 headline">{{startup.name}}<a class="btn-floating btn-large waves-effect waves-light red lighten-1 right spin"><i class="material-icons spin">add</i></a></span>
                    <h6 class="grey-text text-darken-1"><em>{{startup.title}}</em></h6>
                    <p class="grey-text text-darken-1">{{startup.tag}}</p>


                  </div>
                  <div class="card-reveal blue darken-1">
                    <span class="card-title activator white-text headline ">{{startup.name}}<hr><i class="small material-icons right red-text text-lighten-3">highlight_off</i></span>
                      <div class="tech">
                    <h6 class="grey-text text-lighten-3">Mission Statement:</h6>
                        <p class="grey-text text-lighten-2">{{startup.mission}}</p>
                    <h6 class="grey-text text-lighten-2">News Highlights:</h6>
                      <ul>
                        <li><a href="{{startup.news1link}}" target="_blank" class="red-text text-lighten-4"><i class="tiny material-icons">language</i> {{startup.news1}}</a></li>
                        <li><a href="{{startup.news2link}}" target="_blank" class="red-text text-lighten-4"><i class="tiny material-icons">language</i> {{startup.news2}}</a></li>
                        <li><a href="{{startup.news3link}}" target="_blank" class="red-text text-lighten-4"><i class="tiny material-icons">language</i> {{startup.news3}}</a></li>
                      </ul>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row container s12 m12 l12">
            <h5 class="light-blue-text text-darken-2 headline">Startup Highlights</h5>
              <div class="carousel">
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/bambooFinish.jpg">
                  </div>
                  <div>
                      <a href="https://www.youtube.com/watch?v=SOrq80DynFM" target="_blank">
                          <img class="carouselImage z-depth-1" src="images/carousel/dodVideo.jpg">
                      </a>
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/cgWebsite.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/dodBibs.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/dodLogo.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/c2cWebsite.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/footlooseLogo.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/cbf5k.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/eggcellentKids.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/iScreamPoster.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/iScreamSubaru.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/mileMarker.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/o2oSign.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/QSglowLogo.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/raceRecycling.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/recycledBoards.jpg">
                  </div>
                  <div>
                      <a href="https://www.youtube.com/watch?v=ReMACRRkVco" target="_blank">
                          <img class="carouselImage z-depth-1" src="images/carousel/md5kVideo.jpg">
                      </a>
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/tikiLogo.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/tikiPoster.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/tikiTomTimer.jpg">
                  </div>
                  <div>
                    <img class="carouselImage z-depth-1" src="images/carousel/twistedPoster.jpg">
                  </div>

            </div>
          </div>
        </div>


        <div class="parallax-container">
          <div class="parallax"><img src="images/para2.svg"></div>
        </div>


        <div class="section grey lighten-2" id="connect">
          <h4 class="light-blue-text text-darken-2 container headline">Connect</h4>
          <div class="row container">

            <div class="col l3 m6 s6 waves-effect waves-light">
              <a href="mailto:theetommyt@gmail.com"><img class="responsive-img" src="images/mail.png"></a>
            </div>
            <div class="col l3 m6 s6 waves-effect waves-light">
              <a href="https://www.linkedin.com/in/theetommyt"><img class="responsive-img connectLogos" src="images/linkedin.png"></a>
            </div>
            <div class="col l3 m6 s6 waves-effect waves-light">
              <a href="https://github.com/theetommyt"><img class="responsive-img" src="images/github.png"></a>
            </div>
            <div class="col l3 m6 s6 waves-effect waves-light">
              <a href="https://twitter.com/theetommyt"><img class="responsive-img" src="images/twitter.png"></a>
            </div>


          </div>
        </div>

      </main>

        <footer class="page-footer light-blue darken-2" id="footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text headline">Develop | Build | Explore</h5>
                <p class="grey-text text-lighten-4">Contact at one of the above connections for a resume, references, or general inquiries.
                  <br>
                Let's connect on code, projects, ideas, adventures, or anything else you want to chat about!
                  <br><br>
                'I like to run,' he said with a smile. 'I think I'll go another mile.'</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text headline">TheeTommyT</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#projects"><span class="waves-effect waves-light">Projects</span></a></li>
                  <li><a class="grey-text text-lighten-3" href="#startups"><span class="waves-effect waves-light">Start-Ups</span></a></li>
                  <li><a class="grey-text text-lighten-3" href="#connect"><span class="waves-effect waves-light">Connect</span></a></li>
                  <li><a class="grey-text text-lighten-3" href="#navStyle"><span class="waves-effect waves-light">Back to Top</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Tom Taylor
            </div>
          </div>
        </footer>


    </div><!--End Wrapper-->


<script type="text/javascript" src="javascripts/jquery.min.js"></script>

<!--     jQuery Carousel     -->
<script type="text/javascript" src="slick/slick.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="javascripts/app.js"></script>

  </body>
</html>
