.highlight {
  margin-bottom: 0;
  background-color: #f7f5f4;
  color: #3a4f59;
}

.highlight pre {
  padding: 1.875rem;
  margin-bottom: 0;
}

.highlight .nt {
  color: #245eb7;
}

.highlight .na {
  color: #32b5fc;
}

.highlight .s {
  color: #DE4839;
}

.highlight .c {
  color: #B9B8B7;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
}

kbd {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 600;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  line-height: 1.5;
  color: #373a3c;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

.docs-sidebar {
  background-color: #2B3B43;
}

@media (min-width: 768px) {
  .docs-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .docs-sidebar + .docs-content {
    margin-left: 19rem;
  }
}

.docs-apollo-sidebar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #fff;
}

.docs-drb-menu-toggle {
  padding: 1.875rem;
  font-size: 1.5rem;
  line-height: 1;
  background: none;
  border: 0;
}

.docs-drb-menu-toggle:focus {
  outline: none;
}

.docs-sidebar-title {
  margin-top: .4rem;
}

.docs-nav {
  width: 19rem;
  padding: 1.875rem;
}

.docs-content {
  min-height: 100%;
}

.docs-page-nav-title {
  margin-top: .25rem;
  margin-bottom: 2.25rem;
  color: #fff;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 100;
}

.docs-page-nav {
  margin-bottom: 3.375rem;
}

@media (max-width: 543px) {
  .docs-page-nav {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .docs-page-nav {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}

@media (max-width: 767px) {
  .docs-page-nav {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (min-width: 768px) {
  .docs-page-nav {
    padding-left: 1.875rem;
  }
}

.docs-page-nav-item {
  list-style-type: none;
}

.docs-page-nav-item > a {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  font-weight: 300;
}

.docs-page-nav-item.active > a {
  color: #3ed6cf;
  font-weight: 400;
}

.docs-page-title::after, .docs-section-title::before,
.docs-example-title::before {
  display: block;
  width: 2rem;
  height: 0.1875rem;
  margin-bottom: 1rem;
  background-color: #3ed6cf;
  content: '';
}

.docs-page-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 3.375rem;
}

@media (min-width: 992px) {
  .docs-page-header {
    padding-right: 8.33333%;
    padding-left: 8.33333%;
  }
}

.docs-page-title {
  font-size: 1rem;
  font-weight: 400;
}

.docs-page-title::after {
  margin-top: 1.5rem;
}

.docs-section, .home-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

.docs-section:nth-of-type(even), .home-header:nth-of-type(even) {
  background-color: #FBFAF9;
}

.docs-section-title,
.docs-example-title {
  padding-bottom: 2.25rem;
}

.docs-section-overview {
  margin-bottom: 3rem;
  font-family: "Merriweather", Georgia, serif;
}

.docs-example-description {
  width: 50%;
}

.docs-example-intro {
  margin-bottom: 3.375rem;
  margin-top: 1.5rem;
}

.docs-example-title,
.docs-example-label {
  font-weight: 600;
}

.docs-page-title,
.docs-example-title,
.docs-example-label {
  text-transform: uppercase;
}

.docs-example-rendered-group {
  margin-bottom: 2rem;
}

.docs-example-label {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.docs-example-code {
  margin-bottom: 2.25rem;
}

@media (min-width: 992px) {
  .docs-example-half,
  .docs-example-third,
  .docs-example-fourth {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
  .docs-example-half .docs-example-rendered,
  .docs-example-half .docs-example-code,
  .docs-example-third .docs-example-rendered,
  .docs-example-third .docs-example-code,
  .docs-example-fourth .docs-example-rendered,
  .docs-example-fourth .docs-example-code {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@media (min-width: 992px) {
  .docs-section, .home-header {
    padding-left: 8.33333%;
    padding-right: 8.33333%;
  }
  .docs-example-full .docs-example-rendered {
    padding-bottom: 2.25rem;
  }
  .docs-example-half .docs-example-rendered,
  .docs-example-half .docs-example-code {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .docs-example-third .docs-example-rendered {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .docs-example-third .docs-example-code {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .docs-example-fourth .docs-example-rendered {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .docs-example-fourth .docs-example-code {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .docs-illustration {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .docs-illustration-copy {
    padding-right: 8.33333%;
  }
  .docs-illustration-half .docs-illustration-copy {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .docs-illustration-third .docs-illustration-copy {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .docs-card {
    box-shadow: 0.5rem 1rem 2.5rem rgba(0, 0, 0, 0.2);
    padding: 1.875rem 6rem;
  }
}

.docs-color-block {
  position: relative;
  float: left;
  width: 16.66667%;
  height: 10rem;
}

.docs-color-block .docs-color-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: rgba(29, 39, 44, 0.5);
}

.show-grid .row {
  margin-bottom: 1rem;
}

.show-grid div[class^='col-'] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  background-color: #3a4f59;
  border: 0.0625rem solid #fff;
}

.docs-icon-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.docs-icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  background-color: #f7f5f4;
  border: 1px solid #fff;
  transition: all 0.25s cubic-bezier(0, 0, 0.5, 1);
}

@media (max-width: 767px) {
  .docs-icon {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .docs-icon {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .docs-icon {
    width: 20%;
  }
}

.docs-icon:hover {
  background-color: #2975e9;
  color: #fff;
}

.docs-icon .icon {
  width: 30%;
  font-size: 1.953rem;
  text-align: center;
}

.docs-section, .home-header {
  position: relative;
}

.docs-section .navbar-vertical, .home-header .navbar-vertical {
  margin-top: 0;
}

.home-header {
  background-color: #f7f5f4;
}

.docs-callout {
  padding: 2rem 1.875rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #f7f5f4;
}

.docs-callout p:last-of-type {
  margin-bottom: 0;
}

.docs-callout.docs-callout-success {
  border-left: 0.25rem solid #2cc039;
}

.docs-callout.docs-callout-warning {
  border-left: 0.25rem solid #ecdb5d;
}

.docs-callout.docs-callout-danger {
  border-left: 0.25rem solid #f75040;
}

.docs-callout.docs-callout-info {
  border-left: 0.25rem solid #32b5fc;
}

.docs-callout-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
