body {
  overflow-x: hidden;
}

.drb-page .content {
  margin-left: 33.3%;
  width: 66.6%;
  box-sizing: border-box;
  z-index: 0;
}

.drb-page .content h1, .drb-page .content h2, .drb-page .content h3, .drb-page .content h4, .drb-page .content h5, .drb-page .content h6, .drb-page .content span, .drb-page .content p, .drb-page .content li {
  color: #435964;
  -webkit-font-smoothing: antialiased;
}

.drb-page .content .hero {
  font-size: 64px;
  font-family: "Merriweather", Georgia, serif;
}

.drb-page .content h1, .drb-page .content h2, .drb-page .content h3, .drb-page .content h5 {
  font-family: "Merriweather", Georgia, serif;
}

.drb-page .content h1 {
  font-size: 36px;
}

.drb-page .content h2 {
  font-size: 24px;
  line-height: 1.8;
}

.drb-page .content h3 {
  font-size: 16px;
  line-height: 2;
}

.drb-page .content h4 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Proxima Nova", Arial, sans-serif;
}

.drb-page .content p, .drb-page .content li {
  font-family: "Merriweather", Georgia, serif;
  font-size: 16px;
  line-height: 2;
}

.drb-page .content .tab-bar li {
  font-family: "Proxima Nova", Arial, sans-serif !important;
}

.drb-page video {
  width: 90%;
  margin-left: 5%;
  height: auto;
}

.drb-page .merriweather {
  font-family: "Merriweather", Georgia, serif !important;
}

.drb-page .proxima-nova {
  font-family: "Proxima Nova", Arial, sans-serif !important;
}

.drb-page .row {
  margin: 0;
  padding: 0;
}

.drb-page .full-height {
  height: 100%;
}

.drb-page .fixed {
  position: fixed;
}

.drb-page .subsection-page-header {
  border-bottom: 1px solid #CED2D4;
}

.drb-page .content-padding {
  padding-left: 7.5%;
  padding-right: 11.25%;
}

.drb-page .section-padding {
  padding: 12% 0%;
}

.drb-page .pad-200 {
  padding: 100px 0;
}

.drb-page .pad-100 {
  padding: 50px 0;
}

.drb-page .pad-75 {
  padding: 37.5px 0;
}

.drb-page .pad-50 {
  padding: 25px 0;
}

.drb-page .pad-25 {
  padding: 12.5px 0;
}

.drb-page .pad-10 {
  padding: 5px 0;
}

.drb-page .content-head {
  margin-bottom: 75px;
}

.drb-page .section-padding {
  padding: 16% 0%;
}

.drb-page .subsection-padding {
  padding: 8% 0%;
}

.drb-page .subsection-padding-bottom {
  padding-bottom: 8%;
}

.drb-page .subsection-padding-top {
  padding-top: 8%;
}

.drb-page .watermark {
  position: fixed;
  z-index: 1000;
}

.drb-page .watermark h1 {
  font-size: 12rem;
  color: rgba(185, 184, 183, 0.25);
  font-family: "Merriweather", Georgia, serif;
}

.drb-page .mark {
  position: absolute;
  z-index: 1500;
}

.drb-page .content-header-image {
  position: absolute;
  top: 40px;
  left: -10%;
}

.drb-page .download-hr {
  background-color: #CED2D4;
  height: 2px;
  border: none;
}

.drb-page blockquote {
  border-left: 2px solid #9EECE8;
  padding: 0 20px;
  margin-left: 10px;
}

.drb-page blockquote p {
  font-size: 0.875rem;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}

.drb-page .charcoal {
  color: #3a4f59;
}

.drb-page .blue {
  color: #2975e9;
}

.drb-page .white {
  color: white !important;
}

.drb-page .neutral-bg {
  background-color: #FDFCFC;
}

.drb-page .trans-layer {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.drb-page .alt-bg {
  background-color: #f1f1f1;
}

.drb-page .blue-hr {
  background-color: #2975e9 !important;
}

.drb-page .text-underline-hr {
  background-color: #9CA7AC !important;
  height: 1px !important;
  width: 100% !important;
  margin-top: 10px !important;
}

.drb-page .content-section-header .section-header-text {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

.drb-page .content-section-header hr {
  background-color: #3ed6cf;
  height: 2px;
  border: none;
  width: 35px;
  position: absolute;
  top: 35px;
}

.drb-page .content-section-header .section-header-tagline {
  margin-bottom: 40px;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Merriweather", Georgia, serif;
  font-size: 1.25rem;
}

.drb-page .content-section-header .section-header-summary {
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-family: "Merriweather", Georgia, serif;
}

.drb-page .content-subsection-header h6 {
  font-weight: 400;
}

.drb-page .content-subsection-header h6 span {
  font-weight: 300;
}

.drb-page .content-subsection-header .subsection-header-text {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Proxima Nova", Arial, sans-serif !important;
}

.drb-page .content-subsection-header hr {
  background-color: #3ed6cf;
  height: 2px;
  border: none;
  width: 35px;
  margin: 0 0 16px 0;
}

.drb-page .content-subsection-header .subsection-header-tagline {
  margin-bottom: 4%;
  line-height: 36px;
  font-weight: 400;
  font-family: "Merriweather", Georgia, serif;
}

.drb-page .content-subsection-header .subsection-header-summary {
  line-height: 1.5rem;
  font-size: 0.75rem;
  font-family: "Merriweather", Georgia, serif;
}

.drb-page .section-summary {
  font-family: "Merriweather", Georgia, serif;
  font-size: 0.875rem;
  line-height: 2rem;
}

.drb-page .children-card {
  height: 95%;
}

.drb-page .children-card-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.drb-page .children-card-header .children-card-headline {
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 16px;
  font-size: 14px !important;
  letter-spacing: .7px;
}

.drb-page .children-card-header span {
  margin-left: -20px;
  margin-right: -100px;
  font-size: 5.063rem;
  opacity: .2;
  width: auto;
}

.drb-page .children-card-summary {
  padding: 0 25px 51px 25px;
}

.drb-page .footer {
  background-color: #f7f5f4;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-top: 100px;
}

.drb-page .footer-text {
  padding-left: 25%;
}

.drb-page .footer-text .footer-text-style {
  font-family: 'Proxima Nova', Arial, sans-serif;
  color: #32383a;
  font-size: 17px;
  font-weight: bold;
  opacity: .5;
}

.drb-page .footer-icons {
  padding-right: 30%;
}

.drb-page .footer-icons img {
  margin: 0px 25px 0 25px;
  opacity: .5;
}

@media (max-width: 769px) {
  .drb-page .panel-left {
    width: 100% !important;
    height: 800px !important;
    position: relative;
  }
  .drb-page .content {
    margin-left: 0;
    width: 100%;
  }
  .drb-page .content-padding {
    padding: 0 50px;
  }
  .drb-page .panel-icon {
    padding: 1rem;
  }
  .drb-page .panel-tagline h1 {
    font-size: 2.7rem;
  }
  .drb-page .panel-baseline {
    display: none;
  }
  .drb-page .watermark {
    display: none;
  }
}

.drb-page .font-download-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #2975e9;
}

.drb-page .font-download-icon span {
  color: white;
  margin: 0 auto;
  font-size: 1.563rem;
  padding: 0;
}

.drb-page .font-download-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  border: 1px solid #CED2D4;
  border-left: none;
  box-sizing: border-box;
}

.drb-page .font-download-info span:first-child {
  padding: 10px 0 0 10px;
}

.drb-page .font-download-info span:last-child {
  padding: 0 0 10px 10px;
  font-size: 0.75rem;
  color: #9CA7AC;
}

@media (max-width: 544px) {
  .drb-page .content-padding {
    padding: 0 25px;
  }
  .drb-page .panel-left {
    width: 100% !important;
    height: 500px !important;
    position: relative;
  }
  .drb-page .panel-left .panel-summary {
    bottom: 20%;
  }
}

@media (max-width: 768px) {
  .drb-page .content-header-image {
    display: none;
  }
}

.hide {
  display: none;
}

.drb-page h1 {
  font-size: 5.063rem;
}

.drb-page .home {
  width: 66.6%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.drb-page .home h1, .drb-page .home h2, .drb-page .home h3, .drb-page .home p, .drb-page .home span {
  color: white;
}

.drb-page .home-bg {
  width: 140%;
  position: absolute;
  top: -5%;
  right: -5%;
}

.drb-page .home-bg img {
  width: 100%;
}

.drb-page .home-mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.drb-page .home-tagline {
  position: absolute;
  bottom: 45%;
  left: 20%;
  font-family: 'merriweather', Georgia, serif;
  font-style: italic;
}

.drb-page .home-tagline h1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 0;
}

.drb-page .home-tagline h4 {
  margin-left: 15px;
  color: white;
}

.drb-page .home-summary {
  position: absolute;
  left: 50%;
  bottom: 15%;
  padding-right: 1%;
  padding-top: 10px;
  text-align: right;
  width: 35%;
  border-right: 1px solid white;
  text-align: right;
}

.drb-page .home-summary .summary-text span:first-child {
  display: block;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 12.5px;
  font-family: "Merriweather", Georgia, serif;
}

.drb-page .home-summary .summary-text span:nth-child(2) {
  font-weight: 300;
}

.drb-page .home-summary .summary-text p:first-of-type {
  font-size: 0.75rem;
  margin-top: 10px;
  font-weight: 300;
}

.drb-page .home-summary .summary-text p:last-of-type {
  font-size: 0.875rem;
  font-family: "Merriweather", Georgia, serif;
  font-style: italic;
}

.drb-page .home-summary .summary-line hr {
  position: absolute;
  top: 40%;
  left: 100%;
  background-color: white;
  border: none;
  height: 1px;
  width: 60%;
}

.drb-page .home-next {
  position: absolute;
  bottom: 2.5%;
  width: 100%;
  font-weight: 100;
}

.drb-page .home-next span:first-child {
  font-size: 0.75rem;
}

.drb-page .home-next a {
  color: white;
}

.drb-page .home-next .home-copyright {
  color: rgba(255, 255, 255, 0.5);
}

.drb-page .index-watermark {
  top: 10%;
  left: 64%;
}

.drb-page .index-watermark img {
  width: 40%;
  opacity: .05;
}

.drb-page .home-mark-diamond-plus {
  top: 22.5%;
  left: 75%;
  width: 3.5%;
  background-color: rgba(255, 255, 255, 0);
}

.drb-page .home-mark-diamond-plus img {
  width: 100%;
}

.drb-page .home-mark-plus {
  top: 15%;
  left: 15%;
  width: 3%;
  background-color: rgba(255, 255, 255, 0);
}

.drb-page .home-mark-plus img {
  width: 100%;
}

.drb-page .home-mark-half-box-1 {
  top: 50%;
  left: 10%;
  width: 3%;
  background-color: rgba(255, 255, 255, 0);
}

.drb-page .home-mark-half-box-1 img {
  width: 100%;
}

.drb-page .home-mark-half-box-2 {
  top: 70%;
  left: 40%;
  width: 3.5%;
  background-color: rgba(255, 255, 255, 0);
}

.drb-page .home-mark-half-box-2 img {
  width: 100%;
  transform: rotate(180deg);
  filter: saturate(500%);
}

@media (max-width: 1200px) {
  .drb-page .home-bg {
    width: 220%;
    left: -70%;
  }
}

@media (max-width: 767px) {
  .drb-page .home-bg {
    width: 300% !important;
    left: -180% !important;
  }
  .drb-page .home {
    width: 100%;
  }
  .drb-page .home .home-tagline {
    margin-top: 35%;
  }
  .drb-page .home .home-tagline span {
    font-size: 1rem;
    padding-left: 15%;
    font-style: italic;
  }
  .drb-page .home .home-tagline h1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    font-size: 2.25rem;
  }
  .drb-page .home .home-tagline h1 span {
    padding: 0px;
    font-style: italic;
  }
  .drb-page .home .home-tagline {
    top: 20%;
  }
  .drb-page .home .home-summary {
    top: 65%;
    height: 8.5%;
    padding-top: 0;
  }
  .drb-page .home .home-summary .summary-text p {
    display: none;
  }
  .drb-page .home .home-summary .summary-line hr {
    top: 20%;
  }
  .drb-page .home .home-copyright {
    display: none;
  }
  .drb-page .home .home-mobile-menu {
    display: block !important;
    z-index: 1000;
  }
  .drb-page .home-bg {
    position: absolute;
    top: 0;
    left: -20px;
    width: 150%;
  }
}

@media (min-width: 1600px) {
  .drb-page .home-tagline span {
    padding-left: 12.5%;
  }
  .drb-page .home-summary {
    bottom: 10%;
  }
  .drb-page .home-summary .summary-text span:first-child {
    font-size: 1.25rem;
  }
  .drb-page .home-summary .summary-text span:nth-child(2) {
    font-size: 1.25rem;
  }
  .drb-page .home-summary .summary-text p {
    font-size: 1.25rem;
    margin-top: 15px;
  }
  .drb-page .home-next .home-copyright {
    color: rgba(255, 255, 255, 0.5);
  }
  .drb-page .home-next div:last-child span {
    font-size: 1.25rem;
  }
}

.menu-1 {
  background-color: #2B3B43;
  padding: 0;
  width: 33.4%;
  z-index: 1000;
  height: 100vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.menu-1 .menu-title {
  margin: 5% 0 5% 5%;
  width: 100%;
  display: none;
  position: relative;
}

.menu-1 .menu-title div {
  color: white;
}

.menu-1 .menu-title div p {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 0.75rem;
}

.menu-1 .main-menu-container {
  height: 100%;
  width: 100%;
}

.menu-1 .copyright-menu {
  display: none;
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 10%;
}

.menu-1 .copyright-menu .home-copyright {
  color: rgba(255, 255, 255, 0.3);
}

.main-menu {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
}

.main-menu .menu-item {
  list-style-type: none;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
  background-color: #2B3B43;
  width: 100%;
  padding: 10%;
}

.main-menu .menu-item hr {
  display: none;
}

.main-menu .menu-item span, .main-menu .menu-item p {
  color: white;
}

.main-menu .menu-item .menu-item-number {
  font-weight: bold;
  color: white;
  transition: all 0.25s cubic-bezier(0, 0, 0.5, 1);
}

.main-menu .menu-item .main-hr hr {
  display: inline-block;
  height: 1px;
  background-color: #9CA7AC;
  border: none;
  width: 15%;
  margin: 5px;
}

.main-menu .menu-item .menu-item-name {
  color: #CED2D4;
  font-family: 'merriweather', Georgia, serif;
  transition: all 0.25s cubic-bezier(0, 0, 0.5, 1);
}

.main-menu .menu-item .menu-item-summary {
  margin: 1% 20% 1% 30%;
  font-family: 'proximanova-thin', Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: white;
  opacity: .9;
}

.main-menu .menu-item:hover {
  background-color: #1D272C;
}

.main-menu .menu-item:hover .menu-item-number {
  color: #3ed6cf;
}

.main-menu .menu-item:hover .menu-item-name {
  color: #3ed6cf;
}

.main-menu .menu-item a:link {
  text-decoration: none;
}

.main-hr {
  display: inline;
}

.side-menu-1 {
  width: 25%;
  background-color: #2B3B43;
  margin-left: -25%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2050;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
}

.side-menu-1 .menu-head {
  position: absolute;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.side-menu-1 .menu-head span {
  font-size: 0.875rem;
}

.side-menu-1 .menu-head span:last-child {
  color: white;
}

.side-menu-1 .menu-head .icon-close {
  padding: 2rem;
  font-size: 2rem;
  color: #9CA7AC;
}

.side-menu-1 .menu-footer {
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.side-menu-1 span {
  font-size: 0.75rem;
}

.side-menu-1 span a {
  text-decoration: none;
  color: inherit;
}

.side-menu-1 span:first-child {
  color: #3ed6cf;
}

.side-menu-1 span:last-child {
  color: #9CA7AC;
}

.side-menu-1 .side-menu-1-mark {
  position: absolute;
  bottom: 5%;
  left: -13%;
  width: 50%;
  opacity: .5;
}

.side-menu-1 .side-menu-1-mark img {
  width: 100%;
}

.side-menu-1 .side-menu-1-2-mark {
  display: none;
  position: absolute;
  top: 10%;
  left: 99%;
  width: 2%;
  opacity: .3;
}

.side-menu-1 .side-menu-1-2-mark img {
  width: 100%;
}

.side-menu-main {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.side-menu-main hr {
  background-color: #3ed6cf;
  height: 2px;
  border: 0;
  margin: -5px 0 0 19px;
  width: 0;
  position: absolute;
  transition: all 0.25s cubic-bezier(0, 0, 0.5, 1);
}

.side-menu-main .menu-item {
  list-style-type: none;
  padding: 1.5rem 0 1.5rem 0;
  width: 100%;
}

.side-menu-main .menu-item span, .side-menu-main .menu-item p {
  color: white;
}

.side-menu-main .menu-item .menu-item-number {
  font-size: 1rem;
  color: #2B3B43;
  font-weight: bold;
  padding: 0;
  margin: 0 10% 0 -10%;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.side-menu-main .menu-item .main-hr {
  display: none;
}

.side-menu-main .menu-item .number-line {
  display: none;
}

.side-menu-main .menu-item .menu-item-name {
  color: #9CA7AC;
  font-family: 'merriweather', Georgia, serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.side-menu-main .menu-item:hover {
  background-color: #2B3B43;
}

.side-menu-main .menu-item:hover .menu-item-number {
  color: rgba(255, 255, 255, 0.25);
}

.side-menu-main .menu-item:hover .menu-item-name {
  color: #3ed6cf;
}

.side-menu-main .menu-item:hover hr {
  width: 30px;
}

.side-menu-2 {
  width: 25%;
  background-color: #1D272C;
  margin-left: -.1%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2025;
  height: auto;
}

.side-menu-2 .menu-head {
  display: none;
  position: absolute;
  top: 0;
}

.side-menu-2 .side-menu-2-mark {
  position: absolute;
  top: 13%;
  left: 10%;
  width: 15%;
  opacity: .5;
}

.side-menu-2 .side-menu-2-mark img {
  width: 100%;
}

.side-menu-2 .side-menu-2-2-mark {
  position: absolute;
  top: 92%;
  left: 82.5%;
  width: 12.5%;
  opacity: .5;
}

.side-menu-2 .side-menu-2-2-mark img {
  width: 100%;
}

.menu-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.menu-container .side-menu-resources hr,
.menu-container .side-menu-design hr {
  background-color: #3ed6cf;
  height: 2px;
  border: 0;
  margin: -5px 0 0 27px;
  width: 0;
  position: absolute;
  transition: all 0.25s cubic-bezier(0, 0, 0.5, 1);
}

.menu-container .side-menu-resources .menu-item,
.menu-container .side-menu-design .menu-item {
  list-style-type: none;
  padding: 1.5rem 0 1.5rem 0;
  width: 100%;
}

.menu-container .side-menu-resources .menu-item span, .menu-container .side-menu-resources .menu-item p,
.menu-container .side-menu-design .menu-item span,
.menu-container .side-menu-design .menu-item p {
  color: white;
}

.menu-container .side-menu-resources .menu-item .menu-item-number,
.menu-container .side-menu-design .menu-item .menu-item-number {
  font-size: 1rem;
  color: #1D272C;
  font-weight: bold;
  padding: 0;
  margin: 0 10% 0 -10%;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.menu-container .side-menu-resources .menu-item .number-line,
.menu-container .side-menu-design .menu-item .number-line {
  display: none;
}

.menu-container .side-menu-resources .menu-item .menu-item-name,
.menu-container .side-menu-design .menu-item .menu-item-name {
  color: #9CA7AC;
  font-family: 'merriweather', Georgia, serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.menu-container .side-menu-resources .menu-item:hover,
.menu-container .side-menu-design .menu-item:hover {
  background-color: #1D272C;
}

.menu-container .side-menu-resources .menu-item:hover .menu-item-number,
.menu-container .side-menu-design .menu-item:hover .menu-item-number {
  color: rgba(255, 255, 255, 0.25);
}

.menu-container .side-menu-resources .menu-item:hover .menu-item-name,
.menu-container .side-menu-design .menu-item:hover .menu-item-name {
  color: #3ed6cf;
}

.menu-container .side-menu-resources .menu-item:hover hr,
.menu-container .side-menu-design .menu-item:hover hr {
  width: 30px;
}

.side-menu-3 {
  width: 25%;
  background-color: #0F1416;
  margin-left: 24.8%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2000;
  height: auto;
}

.side-menu-3 .menu-head {
  display: none;
  position: absolute;
  top: 0;
}

.tertiary-menu-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.tertiary-menu-container .physics-menu-container hr,
.tertiary-menu-container .mechanics-menu-container hr,
.tertiary-menu-container .experiences-menu-container hr,
.tertiary-menu-container .patterns-menu-container hr,
.tertiary-menu-container .data-menu-container hr,
.tertiary-menu-container .style-guide-menu-container hr {
  background-color: #3ed6cf;
  height: 2px;
  border: 0;
  margin: -5px 0 0 10px;
  width: 0;
  position: absolute;
  transition: all 0.25s cubic-bezier(0, 0, 0.5, 1);
}

.tertiary-menu-container .physics-menu-container .menu-item,
.tertiary-menu-container .mechanics-menu-container .menu-item,
.tertiary-menu-container .experiences-menu-container .menu-item,
.tertiary-menu-container .patterns-menu-container .menu-item,
.tertiary-menu-container .data-menu-container .menu-item,
.tertiary-menu-container .style-guide-menu-container .menu-item {
  list-style-type: none;
  padding: 1.5rem 0 1.5rem 0;
  width: 100%;
}

.tertiary-menu-container .physics-menu-container .menu-item a:active,
.tertiary-menu-container .mechanics-menu-container .menu-item a:active,
.tertiary-menu-container .experiences-menu-container .menu-item a:active,
.tertiary-menu-container .patterns-menu-container .menu-item a:active,
.tertiary-menu-container .data-menu-container .menu-item a:active,
.tertiary-menu-container .style-guide-menu-container .menu-item a:active {
  color: #3ed6cf;
}

.tertiary-menu-container .physics-menu-container .menu-item span, .tertiary-menu-container .physics-menu-container .menu-item p,
.tertiary-menu-container .mechanics-menu-container .menu-item span,
.tertiary-menu-container .mechanics-menu-container .menu-item p,
.tertiary-menu-container .experiences-menu-container .menu-item span,
.tertiary-menu-container .experiences-menu-container .menu-item p,
.tertiary-menu-container .patterns-menu-container .menu-item span,
.tertiary-menu-container .patterns-menu-container .menu-item p,
.tertiary-menu-container .data-menu-container .menu-item span,
.tertiary-menu-container .data-menu-container .menu-item p,
.tertiary-menu-container .style-guide-menu-container .menu-item span,
.tertiary-menu-container .style-guide-menu-container .menu-item p {
  color: white;
}

.tertiary-menu-container .physics-menu-container .menu-item .menu-item-number,
.tertiary-menu-container .mechanics-menu-container .menu-item .menu-item-number,
.tertiary-menu-container .experiences-menu-container .menu-item .menu-item-number,
.tertiary-menu-container .patterns-menu-container .menu-item .menu-item-number,
.tertiary-menu-container .data-menu-container .menu-item .menu-item-number,
.tertiary-menu-container .style-guide-menu-container .menu-item .menu-item-number {
  font-size: 1rem;
  color: #0F1416;
  font-weight: bold;
  padding: 0;
  margin: 0 10% 0 -10%;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.tertiary-menu-container .physics-menu-container .menu-item .number-line,
.tertiary-menu-container .mechanics-menu-container .menu-item .number-line,
.tertiary-menu-container .experiences-menu-container .menu-item .number-line,
.tertiary-menu-container .patterns-menu-container .menu-item .number-line,
.tertiary-menu-container .data-menu-container .menu-item .number-line,
.tertiary-menu-container .style-guide-menu-container .menu-item .number-line {
  display: none;
}

.tertiary-menu-container .physics-menu-container .menu-item .menu-item-name,
.tertiary-menu-container .mechanics-menu-container .menu-item .menu-item-name,
.tertiary-menu-container .experiences-menu-container .menu-item .menu-item-name,
.tertiary-menu-container .patterns-menu-container .menu-item .menu-item-name,
.tertiary-menu-container .data-menu-container .menu-item .menu-item-name,
.tertiary-menu-container .style-guide-menu-container .menu-item .menu-item-name {
  color: #9CA7AC;
  font-family: 'merriweather', Georgia, serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.tertiary-menu-container .physics-menu-container .menu-item:hover,
.tertiary-menu-container .mechanics-menu-container .menu-item:hover,
.tertiary-menu-container .experiences-menu-container .menu-item:hover,
.tertiary-menu-container .patterns-menu-container .menu-item:hover,
.tertiary-menu-container .data-menu-container .menu-item:hover,
.tertiary-menu-container .style-guide-menu-container .menu-item:hover {
  background-color: #0F1416;
}

.tertiary-menu-container .physics-menu-container .menu-item:hover .menu-item-number,
.tertiary-menu-container .mechanics-menu-container .menu-item:hover .menu-item-number,
.tertiary-menu-container .experiences-menu-container .menu-item:hover .menu-item-number,
.tertiary-menu-container .patterns-menu-container .menu-item:hover .menu-item-number,
.tertiary-menu-container .data-menu-container .menu-item:hover .menu-item-number,
.tertiary-menu-container .style-guide-menu-container .menu-item:hover .menu-item-number {
  color: rgba(255, 255, 255, 0.25);
}

.tertiary-menu-container .physics-menu-container .menu-item:hover .menu-item-name,
.tertiary-menu-container .mechanics-menu-container .menu-item:hover .menu-item-name,
.tertiary-menu-container .experiences-menu-container .menu-item:hover .menu-item-name,
.tertiary-menu-container .patterns-menu-container .menu-item:hover .menu-item-name,
.tertiary-menu-container .data-menu-container .menu-item:hover .menu-item-name,
.tertiary-menu-container .style-guide-menu-container .menu-item:hover .menu-item-name {
  color: #3ed6cf;
}

.tertiary-menu-container .physics-menu-container .menu-item:hover hr,
.tertiary-menu-container .mechanics-menu-container .menu-item:hover hr,
.tertiary-menu-container .experiences-menu-container .menu-item:hover hr,
.tertiary-menu-container .patterns-menu-container .menu-item:hover hr,
.tertiary-menu-container .data-menu-container .menu-item:hover hr,
.tertiary-menu-container .style-guide-menu-container .menu-item:hover hr {
  width: 30px;
}

.menu-slide {
  transform: translate3d(100%, 0, 0);
  transition: all 0.25s cubic-bezier(0, 0, 0.5, 1);
}

.menu-slide-reverse {
  transform: translate3d(-200%, 0, 0);
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.home-slide-reverse {
  transform: translate3d(-100%, 0, 0);
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

@media (max-width: 544px) {
  .side-menu-1,
  .side-menu-2,
  .side-menu-3 {
    width: 85%;
    margin-left: -85%;
  }
  .side-menu-1 .menu-head .icon-close {
    padding: 1rem;
  }
  .side-menu-1 .menu-footer {
    margin-bottom: 2.5%;
  }
  .side-menu-2 {
    z-index: 2100;
  }
  .side-menu-2 .menu-head {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .side-menu-2 .menu-head span {
    font-size: 0.875rem;
  }
  .side-menu-2 .menu-head span:last-child {
    color: white;
  }
  .side-menu-2 .menu-head .icon-close {
    padding: 1rem;
    font-size: 2rem;
    color: #9CA7AC;
  }
  .side-menu-3 {
    z-index: 2150;
  }
  .side-menu-3 .menu-head {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .side-menu-3 .menu-head span {
    font-size: 0.875rem;
  }
  .side-menu-3 .menu-head span:last-child {
    color: white;
  }
  .side-menu-3 .menu-head .icon-close {
    padding: 1rem;
    font-size: 2rem;
    color: #9CA7AC;
  }
}

@media (min-width: 545px) and (max-width: 768px) {
  .side-menu-1,
  .side-menu-2,
  .side-menu-3 {
    width: 33.3%;
  }
  .side-menu-1 {
    margin-left: -33.3%;
  }
  .side-menu-1 .menu-head .icon-close {
    padding: 1.5rem;
  }
  .side-menu-1 .menu-footer {
    margin-bottom: 10%;
  }
  .side-menu-3 {
    margin-left: 33.2%;
  }
}

@media (max-width: 767px) {
  .menu-1 {
    width: 75%;
    position: absolute;
    top: 0;
    left: -75%;
  }
  .menu-1 .menu-title {
    display: block;
  }
  .menu-1 .copyright-menu {
    display: block;
    width: 100%;
  }
  .menu-1 .main-menu {
    height: 75%;
  }
  .menu-1 .main-menu .menu-item-summary {
    display: none;
  }
  .main-hr {
    display: none;
  }
}

@media (max-width: 1063px) {
  .main-menu .menu-item .menu-item-number {
    font-size: 0.875rem;
  }
  .main-menu .menu-item .menu-item-name {
    font-size: 0.875rem;
  }
  .main-menu .menu-item .menu-item-summary {
    margin: .5% 10% .5% 25%;
  }
}

@media (min-width: 1600px) {
  .menu-item-number {
    font-size: 1.25rem;
  }
  .menu-item-name {
    font-size: 1.25rem;
  }
  .menu-item-summary {
    font-size: 1rem;
  }
}

.drb-page .section-header {
  width: 100%;
  margin-top: 84px;
  padding-bottom: 22%;
}

.drb-page .section-headline span:first-child {
  font-size: 12px;
  font-family: 'proximanova-semibold', Georgia, sans-serif;
  font-weight: 600;
  color: #2b3947;
  z-index: 100;
  background-color: #f1f1f1;
  padding-right: 20px;
}

.drb-page .section-headline hr {
  width: 100%;
  margin-right: 0;
  margin-top: -11px;
  padding-top: 0;
  background-color: #47dbd5;
  height: 1px;
  border: none;
  z-index: 0;
}

.drb-page .section-head-title {
  margin-top: 36px;
  margin-bottom: 60px;
}

.drb-page .section-head-tagline {
  margin-bottom: 50px;
}

.drb-page .section-quote-module {
  position: relative;
  margin-top: -25%;
  margin-bottom: -10%;
}

.drb-page .section-quote {
  padding: 8% 0%;
}

.drb-page .section-quote .quote-box {
  padding: 60px 43px 60px 40px;
  height: 60%;
  background-color: white;
  z-index: 500;
  width: 50%;
  position: absolute;
  top: 20%;
  bottom: 10%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.drb-page .section-quote .quote-box h3 {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.drb-page .section-quote .quote-box hr {
  background-color: #3ed6cf;
  height: 2px;
  border: none;
  width: 15%;
  position: absolute;
  left: 40px;
  top: 70%;
}

.drb-page .section-quote .quote-img {
  z-index: 400;
  position: absolute;
  right: 0;
  height: 100%;
}

.drb-page .section-content-header {
  margin-bottom: 40px;
}

.drb-page .section-content-header h4 {
  padding-right: 20px;
  background-color: white !important;
  z-index: 100;
  display: inline-block;
}

.drb-page .section-content-header hr {
  width: 90%;
  margin-right: 0;
  margin-top: -17px;
  padding-top: 0;
  background-color: #47dbd5;
  height: 1px;
  border: none;
  z-index: 0;
}

.drb-page .section-watermark {
  top: 40px;
  right: -53px;
  position: absolute !important;
}

.drb-page .section-watermark h1 {
  font-size: 288px !important;
  color: rgba(0, 0, 0, 0.05) !important;
  font-weight: 300;
}

.drb-page .typography-watermark {
  top: 38%;
  left: 30%;
  z-index: 1000;
}

.drb-page .typo-header-image {
  position: absolute;
  top: 40px;
  left: -10%;
}

.drb-page .apollo-fonts {
  z-index: 1600;
  padding-bottom: 40px;
  margin-top: 100px;
}

.drb-page .fonts {
  padding: 25px 0;
  width: 100%;
  background-color: white;
}

.drb-page .fonts .font-header {
  width: 90%;
  border-bottom: 1px solid #CED2D4;
  margin: 0 auto;
}

.drb-page .fonts h1 {
  text-align: center;
  font-size: 144px;
  margin-bottom: 0px;
}

.drb-page .fonts h4 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.drb-page .fonts .font-footer {
  margin-top: 20px;
}

.drb-page .fonts .row {
  font-size: 0.875rem;
  line-height: 24px;
}

.drb-page .fonts .row:last-child div:nth-child(2) {
  font-weight: 300;
}

.drb-page .fonts .row:last-child div:nth-child(3) {
  font-weight: 400;
}

.drb-page .fonts .row:last-child div:nth-child(4) {
  font-weight: 800;
}

.drb-page .heading-container .row {
  border-top: 1px solid rgba(208, 208, 208, 0.5);
}

.drb-page .heading-container .row:last-child {
  border-bottom: 1px solid rgba(208, 208, 208, 0.5);
}

.drb-page .headings {
  font-weight: 100;
}

.drb-page .hero-heading {
  font-size: 3.375rem;
  line-height: 64px;
  padding: 30px 30px;
  padding-top: 64px;
}

.drb-page .h1-heading {
  font-size: 2.441rem;
  line-height: 54px;
  padding: 60px 30px;
  padding-top: 70px;
}

.drb-page .h2-heading {
  line-height: 36px;
  padding-left: 30px;
  padding-top: 100px;
}

.drb-page .h3-heading {
  line-height: 24px;
  padding-left: 30px;
  padding-top: 110px;
}

.drb-page .h4-heading {
  line-height: 21px;
  padding-left: 30px;
  padding-top: 110px;
}

.drb-page .h5-heading {
  line-height: 18px;
  padding-left: 30px;
  padding-top: 120px;
}

.drb-page .font-ex {
  border-left: 1px solid rgba(208, 208, 208, 0.5);
  height: 100%;
}

.drb-page .font-desc {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .drb-page .apollo-fonts {
    margin-top: -100px;
  }
}

.drb-page .color-name {
  font-family: "Proxima Nova", Arial, sans-serif !important;
  margin-bottom: 10px !important;
  color: #B9B8B7 !important;
}

.drb-page .color-chart {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.drb-page .color-chart div {
  padding: 8px 10px 8px 5px;
}

.drb-page .color-chart div p, .drb-page .color-chart div h4 {
  margin: 0;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: "Proxima Nova", Arial, sans-serif;
  line-height: 24px;
  color: white !important;
}

.drb-page .atmosphere .color-1 {
  background-color: #32b5fc;
}

.drb-page .atmosphere .color-2 {
  background-color: #C9ECFE;
}

.drb-page .atmosphere .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .atmosphere .color-3 {
  background-color: #95DAFD;
}

.drb-page .atmosphere .color-3 p {
  color: #3a4f59 !important;
}

.drb-page .atmosphere .color-4 {
  background-color: #2886BA;
}

.drb-page .atmosphere .color-5 {
  background-color: #1B597D;
}

.drb-page .atmosphere .color-6 {
  background-color: #134968;
}

.drb-page .blue .color-1 {
  background-color: #2975e9;
}

.drb-page .blue .color-2 {
  background-color: #C4DAF7;
}

.drb-page .blue .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .blue .color-3 {
  background-color: #8EB7F4;
}

.drb-page .blue .color-3 p {
  color: #3a4f59 !important;
}

.drb-page .blue .color-4 {
  background-color: #1E54A8;
}

.drb-page .blue .color-5 {
  background-color: #143770;
}

.drb-page .blue .color-6 {
  background-color: #072249;
}

.drb-page .teal .color-1 {
  background-color: #3ed6cf;
}

.drb-page .teal .color-2 {
  background-color: #CEF5F6;
}

.drb-page .teal .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .teal .color-3 {
  background-color: #9EECE8;
}

.drb-page .teal .color-3 p {
  color: #3a4f59 !important;
}

.drb-page .teal .color-4 {
  background-color: #339E99;
}

.drb-page .teal .color-5 {
  background-color: #1E6766;
}

.drb-page .teal .color-6 {
  background-color: #124948;
}

.drb-page .gray .color-1 {
  background-color: #3a4f59;
}

.drb-page .gray .color-2 {
  background-color: #CED2D4;
}

.drb-page .gray .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .gray .color-3 {
  background-color: #9CA7AC;
}

.drb-page .gray .color-3 p {
  color: #3a4f59 !important;
}

.drb-page .gray .color-4 {
  background-color: #2B3B43;
}

.drb-page .gray .color-5 {
  background-color: #1D272C;
}

.drb-page .gray .color-6 {
  background-color: #0F1416;
}

.drb-page .light-gray .color-1 {
  background-color: #f7f5f4;
}

.drb-page .light-gray .color-1 p, .drb-page .light-gray .color-1 h4 {
  color: #3a4f59 !important;
}

.drb-page .light-gray .color-2 {
  background-color: #FDFCFC;
}

.drb-page .light-gray .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .light-gray .color-3 {
  background-color: #FBFAF9;
}

.drb-page .light-gray .color-3 p, .drb-page .light-gray .color-3 h4 {
  color: #3a4f59 !important;
}

.drb-page .light-gray .color-4 {
  background-color: #B9B8B7;
}

.drb-page .light-gray .color-5 {
  background-color: #7B7A7A;
}

.drb-page .light-gray .color-6 {
  background-color: #3E3D3D;
}

.drb-page .yellow .color-1 {
  background-color: #ecdb5d;
}

.drb-page .yellow .color-1 p, .drb-page .yellow .color-1 h4 {
  color: #3a4f59 !important;
}

.drb-page .yellow .color-2 {
  background-color: #FAF6D6;
}

.drb-page .yellow .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .yellow .color-3 {
  background-color: #F5EDAE;
}

.drb-page .yellow .color-3 p, .drb-page .yellow .color-3 h4 {
  color: #3a4f59 !important;
}

.drb-page .yellow .color-4 {
  background-color: #F4EA7C;
}

.drb-page .yellow .color-4 p, .drb-page .yellow .color-4 h4 {
  color: #3a4f59 !important;
}

.drb-page .yellow .color-5 {
  background-color: #BBAD48;
}

.drb-page .yellow .color-6 {
  background-color: #897F3D;
}

.drb-page .coral .color-1 {
  background-color: #f75040;
}

.drb-page .coral .color-2 {
  background-color: #F7ADA3;
}

.drb-page .coral .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .coral .color-3 {
  background-color: #F77365;
}

.drb-page .coral .color-3 p {
  color: #3a4f59 !important;
}

.drb-page .coral .color-4 {
  background-color: #DE4839;
}

.drb-page .coral .color-5 {
  background-color: #BD3A31;
}

.drb-page .coral .color-6 {
  background-color: #7E281D;
}

.drb-page .orange .color-1 {
  background-color: #f7922e;
}

.drb-page .orange .color-2 {
  background-color: #FFF0B2;
}

.drb-page .orange .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .orange .color-3 {
  background-color: #FFD792;
}

.drb-page .orange .color-3 p {
  color: #3a4f59 !important;
}

.drb-page .orange .color-4 {
  background-color: #FDBD59;
}

.drb-page .orange .color-5 {
  background-color: #B7661A;
}

.drb-page .orange .color-6 {
  background-color: #3E250B;
}

.drb-page .green .color-1 {
  background-color: #2cc039;
}

.drb-page .green .color-2 {
  background-color: #8CDD96;
}

.drb-page .green .color-2 p {
  color: #3a4f59 !important;
}

.drb-page .green .color-3 {
  background-color: #71C272;
}

.drb-page .green .color-3 p {
  color: #3a4f59 !important;
}

.drb-page .green .color-4 {
  background-color: #68EF66;
}

.drb-page .green .color-5 {
  background-color: #146D21;
}

.drb-page .green .color-6 {
  background-color: #112E12;
}

.drb-page .navy .color-1 {
  background-color: #245eb7;
}

.drb-page .navy .color-2 {
  background-color: #C4DFF8;
}

.drb-page .navy .color-3 {
  background-color: #94BBE4;
}

.drb-page .navy .color-4 {
  background-color: #4066A7;
}

.drb-page .navy .color-5 {
  background-color: #123977;
}

.drb-page .ice-blue .color-1 {
  background-color: #32b5fc;
}

.drb-page .ice-blue .color-2 {
  background-color: #DAF9FF;
}

.drb-page .ice-blue .color-3 {
  background-color: #B1EFFE;
}

.drb-page .ice-blue .color-3 p, .drb-page .ice-blue .color-3 h4 {
  color: #3a4f59 !important;
}

.drb-page .ice-blue .color-4 {
  background-color: #6ED1FD;
}

.drb-page .ice-blue .color-5 {
  background-color: #196B9A;
}

.drb-page .aqua .color-1 {
  background-color: #40beba;
}

.drb-page .aqua .color-2 {
  background-color: #CBF3F4;
}

.drb-page .aqua .color-3 {
  background-color: #87E5E4;
}

.drb-page .aqua .color-3 p, .drb-page .aqua .color-3 h4 {
  color: #3a4f59 !important;
}

.drb-page .aqua .color-4 {
  background-color: #49DEDD;
}

.drb-page .aqua .color-5 {
  background-color: #1D6967;
}

.drb-page .panel-left {
  background-color: black;
  width: 33.3%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1100;
  overflow: hidden;
}

.drb-page .panel-left h1, .drb-page .panel-left h2, .drb-page .panel-left h3, .drb-page .panel-left h4, .drb-page .panel-left h5, .drb-page .panel-left p, .drb-page .panel-left span {
  color: white;
}

.drb-page .panel-background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.drb-page .panel-background-image {
  width: 120%;
  height: 120%;
  position: absolute;
  top: -10%;
  left: -10%;
}

.drb-page .panel-trans {
  background-color: rgba(31, 42, 49, 0.82);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.drb-page .panel-main {
  height: 100%;
  width: 100%;
  position: absolute;
}

.drb-page .panel-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-right: 1rem;
  padding-left: 1rem;
}

.drb-page .panel-head span {
  font-size: 12px;
  font-weight: 300;
}

.drb-page .panel-head span a {
  color: white;
}

.drb-page .panel-icon {
  padding: 2rem;
}

.drb-page .panel-icon.icon-menu {
  font-size: 1.5rem;
}

.drb-page .panel-icon.icon-close {
  font-size: 2rem;
}

.drb-page .panel-content {
  position: absolute;
  top: 45%;
  width: 100%;
}

.drb-page .panel-tagline {
  text-align: right;
  font-family: "Merriweather", Georgia, serif;
  width: 66%;
  margin-left: 24%;
}

.drb-page .panel-tagline h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  margin: 0 0 5% 0;
}

.drb-page .panel-summary {
  font-family: "Merriweather", Georgia, serif;
  text-align: right;
  width: 70%;
  margin-left: 20%;
  margin-right: 10%;
}

.drb-page .panel-summary span {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.drb-page .panel-baseline {
  position: absolute;
  bottom: 10px;
  left: 5%;
  width: 90%;
  margin-bottom: 5%;
}

.drb-page .panel-baseline a {
  color: white;
}

.drb-page .panel-baseline hr {
  width: 95%;
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.drb-page .panel-baseline span {
  padding: 0 5px 0px 0px;
  margin: 0;
  font-size: 12px;
}

.drb-page .panel-baseline .left {
  float: left;
}

.drb-page .panel-baseline .right {
  float: right;
}

.drb-page .subsection-watermark {
  position: fixed;
  top: 95px;
  right: 12px;
  width: 34px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  opacity: .2;
}

.drb-page .subsection-watermark hr {
  width: 90%;
  height: 1px;
  background-color: #231f20;
  border: none;
}

.drb-page .subsection-watermark span:first-child {
  color: #231f20;
  font-size: 20px;
  font-family: "Merriweather", Georgia, serif;
}

.drb-page .subsection-watermark span:last-child {
  color: #231f20;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 8px;
  letter-spacing: .1;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.drb-page .subsection-headline {
  margin-top: 86px;
  margin-bottom: 54px;
}

.drb-page .subsection-head hr {
  background-color: #3ed6cf;
  height: 1px;
  border: 0;
  margin: 0;
  width: 30px;
  position: absolute;
  top: 130px;
  left: 15px;
}

.drb-page .subsection-tagline {
  margin-bottom: 20px;
}

.drb-page .subsection-head-summary {
  padding-bottom: 114px;
}

.drb-page .subsection-img-head {
  margin-top: -62px;
  width: 100%;
}

.drb-page .subsection-resources {
  margin-top: 60px;
  margin-bottom: 31px;
}

.drb-page .subsection-resources h4 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: white;
  padding-right: 30px;
  z-index: 100;
  display: inline-block;
}

.drb-page .subsection-resources hr {
  width: 100%;
  margin-top: -17px;
  padding-top: 0;
  background-color: #3ed6cf;
  height: 1px;
  border: none;
  z-index: 0;
}

.drb-page .subsection-resources-summary {
  margin-bottom: 48px;
}

.drb-page .detailed-content-header {
  margin-top: 90px;
}

.drb-page .detailed-content-header h4 {
  margin-bottom: 54px;
}

.drb-page .detailed-content-header hr {
  background-color: #3ed6cf;
  height: 2px;
  border: 0;
  margin: 0;
  width: 30px;
  position: absolute;
  top: 135px;
  left: 15px;
}

.drb-page .detailed-content-head-tagline {
  margin-bottom: 19px;
}

.drb-page .detailed-content-head-summary {
  padding-bottom: 62px;
}

.drb-page .detailed-content-head-img {
  min-width: 100%;
  position: absolute;
  bottom: -40%;
}

.drb-page .detailed-content-sub-menu {
  padding-top: 79px;
  padding-bottom: 83px;
  border-bottom: 1px solid #cbcaca;
}

.drb-page .detailed-content-sub-menu span {
  font-size: 16px;
}

.drb-page .sub-menu-list {
  margin-top: 31px;
  border-left: 2px solid #3ed6cf;
}

.drb-page .sub-menu-list h3 {
  font-size: 24px;
  line-height: 44px;
  padding-left: 20px;
}

.drb-page .detailed-content-sub-menu {
  border-bottom: 1px solid #cbcaca;
}

.drb-page .detailed-content-subhead h4 {
  margin-bottom: 54px;
}

.drb-page .detailed-content-subhead hr {
  background-color: #3ed6cf;
  height: 2px;
  border: 0;
  margin: 0;
  width: 30px;
  position: absolute;
  top: 44px;
  left: 15px;
}

.drb-page .detailed-content-subhead-summary {
  margin-top: 18px;
}

.drb-page .quote {
  width: 100%;
}

.drb-page .quote .quote-box {
  padding: 60px 43px 60px 40px;
  height: 60%;
  background-color: white;
  z-index: 500;
  width: 50%;
  position: absolute;
  top: 20%;
  bottom: 10%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: hidden;
}

.drb-page .quote .quote-box h3 {
  font-size: 18px;
  line-height: 1.8;
}

.drb-page .quote .quote-box hr {
  background-color: #3ed6cf;
  height: 2px;
  border: none;
  width: 15%;
  margin: 5% 0px;
  position: absolute;
}

.drb-page .quote .quote-img {
  z-index: 400;
  position: absolute;
  right: 0;
  height: 100%;
}

.drb-page .image-right {
  margin: 200px 0;
}

.drb-page .image-right-head {
  font-weight: bold;
  margin-bottom: 15px;
}

.drb-page .image-right-img {
  margin-top: 50px;
  min-width: 100%;
}

.drb-page .lego-module-head-title {
  margin-bottom: 14px;
}

.drb-page .lego-module-head-img {
  margin-top: 35px;
}

.drb-page .lego-block-img {
  margin-bottom: 25px;
  min-width: 100%;
}

.drb-page .lego-block-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.drb-page .lego-block-summary {
  font-family: "Proxima Nova", Arial, sans-serif !important;
  line-height: 1.5 !important;
  font-weight: 400;
}

.drb-page .content-img-overlap {
  margin: 50px 0;
}

.drb-page .back-img-overlap {
  width: 75%;
}

.drb-page .back-img-overlap img {
  width: 100%;
}

.drb-page .front-img-overlap {
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 200;
  margin-bottom: 20px;
  width: 75%;
  height: 100%;
}

.drb-page .img-overlap-text {
  margin: 15%;
}

.drb-page .img-overlap-text h1 {
  position: absolute;
  opacity: .2;
  font-size: 88px !important;
  font-weight: bold;
}

.drb-page .img-overlap-text h2 {
  font-size: 24px !important;
  position: relative;
  top: 28px;
  left: 60px;
}

.drb-page .img-overlap-text h3 {
  margin-top: 75px;
  margin-left: 60px;
}

.drb-page .top-img-card {
  margin-top: 100px;
}

.drb-page .img-card-text {
  padding: 44px 32px;
}

.drb-page .img-card-title {
  margin-bottom: 13px;
}

.drb-page .card-half {
  margin-top: 100px;
}

.drb-page .card-half-img {
  min-width: 100%;
}

.drb-page .card-half-title {
  margin-bottom: 12px;
  margin-top: 56px;
}

.drb-page .card-half-img {
  margin-left: -15px;
}

.drb-page .lego-download-title {
  margin-bottom: 63px;
}

.drb-page .download-block {
  width: 300px;
}

.drb-page .download-block-icon {
  background-color: #185dff;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  height: 96px;
  width: 96px;
  display: inline-block;
  float: left;
}

.drb-page .download-block-icon .icon {
  color: white;
  font-size: 36px;
}

.drb-page .download-block-text {
  padding-top: 21px;
  padding-left: 15px;
  width: 204px;
  height: 96px;
  box-sizing: border-box;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  border-right: 2px solid rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  float: left;
}

.drb-page .download-block-text .download-text-title {
  color: #185dff !important;
  font-family: "Proxima Nova", Arial, sans-serif !important;
  font-weight: 300;
  line-height: 2 !important;
}

.drb-page .download-block-text .download-text-info {
  font-family: "Proxima Nova", Arial, sans-serif !important;
  color: #8f8f8f !important;
  font-size: 12px !important;
}

.drb-page .warning-block-icon {
  background-color: #fe422a;
  padding-left: 22px;
  padding-top: 65px;
  height: 166px;
  width: 68px;
  display: inline-block;
  float: left;
}

.drb-page .warning-block-icon .icon {
  color: white;
  font-size: 24px;
}

.drb-page .warning-block-text {
  padding-top: 35px;
  padding-left: 30px;
  background-color: #feeae8;
  width: 292px;
  height: 166px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
}

.drb-page .warning-block-text .warning-text-title {
  color: black !important;
  margin-bottom: 17px;
  font-family: "Proxima Nova", Arial, sans-serif !important;
}

.drb-page .warning-block-text .warning-text-info {
  font-family: "Proxima Nova", Arial, sans-serif !important;
  color: black !important;
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
  font-size: 16px;
  padding-right: 20px;
}
